%div{class: "form_group #{return_error_class(@business, :loan_reason_id)} row"}
  %label{class: "control-label", :for => :loan_reason_id} 
    What do you need the money for?
  %br
  = f.select :loan_reason_id, options_for_select({"Invest in marketing" => 0, "Pay old bills" => 1, "Expansion" => 2, "Payroll" => 3, "Invest in inventory" => 4, "Capital improvements" => 5, "Pay rent / mortgage" => 6}),{  }, {:class => "form-control selectpicker", style:"text-align: center;"}

%div{class: "form_group #{return_error_class(@business, :earned_one_month_ago)}"}
  %label{class: "control-label", :for => :earned_one_month_ago} 
    How much did your business earn in 
    = x_months_ago_string(1) + "?"
  = f.currency :earned_one_month_ago, class: "text-center form-control", required: true

%div{class: "form_group #{return_error_class(@business, :earned_two_months_ago)}"}
  %label{class: "control-label", :for => :earned_two_months_ago} 
    How much did your business earn in  
    = x_months_ago_string(2) + "?"
  = f.currency :earned_two_months_ago, class: "text-center form-control", required: true

%div{class: "form_group #{return_error_class(@business, :earned_three_months_ago)}"}
  %label{class: "control-label", :for => :earned_three_months_ago} 
    How much did your business earn in  
    = x_months_ago_string(3) + "?"
  = f.currency :earned_three_months_ago, class: "text-center form-control", required: true


%div{class: "form_group #{return_error_class(@business, :email)}"}
  %label{class: "control-label", :for => :email} 
    Email
  = f.text_field :email, class: "text-center form-control ", required: true

%span{class: "starting-separator", style: "margin-left: -35px; margin-right: -35px; padding-bottom: 0px; width: 100%; background: #f5f5f5; height: 60px; float: left"}
%span{class: "starting-separator", style: "height: 60px; width: 70px; float: right; margin-left: -35px; margin-right: -35px; padding-bottom: 0px; background: #f5f5f5;"}

%h3.form-header{style: "margin-left: -35px; margin-right: -35px; margin-top: 86px;"} Create Your Buynance Password

%div{class: "form_group #{return_error_class(@business, :password)}"}
  %label{class: "control-label", :for => :password} 
    Enter new Buynance password
  = f.password_field :password, class: "text-center form-control ", required: true

%div{class: "form_group #{return_error_class(@business, :password_confirmation)}"}
  %label{class: "control-label", :for => :password_confirmation} 
    Re-enter Buynance password
  = f.password_field :password_confirmation, class: "text-center form-control "

%div{class: "form_group #{return_error_class(@business, :terms_of_service)}"}  
  = f.check_box :terms_of_service
  %label{class: "control-label", :for => :terms_of_service, style: "margin-left: 10px;"}
    I agree to the 
    %a{href: "http://buynance.com/tos"}  
      Terms of Service 

= f.submit "Next Step", class: "btn btn-primary btn-lg btn-lg btn-block green-btn"