.main_body.form-style
  %h3.form-header
    = "You Have #{@business.offers.length} Offers!"
  .row.offer-body
    - for i in 0...(@business.offers.length)/2
      - offer = @business.offers[i]
      = render :partial => "offer_section", :locals => {:offer => offer, :i => i} 

    - for i in (@business.offers.length/2)...@business.offers.length
      .hidden-offers
        - offer = @business.offers[i]
        = render :partial => "offer_section", :locals => {:offer => offer, :i => i}
  %ul.pager
    %li
      %a{class: "btn btn-default", onclick: "display_offers()"} View Others

#disclaimerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "disclaimerModal", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %p.MsoNormal{style: "text-align:center;"}
          %b{style: "mso-bidi-font-weight:normal"}
            %span{style: "font-size:14.0pt;font-family:\r\nHelvetica;mso-fareast-font-family:\"Times New Roman\";mso-bidi-font-family:Arial;\r\ncolor:#365F91;mso-themecolor:accent1;mso-themeshade:191;background:white; text-align: center;"}
              NOTICE: Please be sure that the information you provided is correct and accurate.
      .modal-body
        %textarea{readonly: "readonly", rows: 7, cols: 60, style: "resize: none;"}
          = " I understand that the offers I am about to receive are based on the information I have provided.I understand that false or misleading information may jeopardize my ability to access the Buynance service. I understand that merchant cash advance brokers and funders frequently place unsolicited telephone calls to business owners like me, so as to offer me help in either finding a merchant cash advance, or taking one from their firm. I understand that merchant cash advance brokers and funders frequently place unsolicited telephone calls to business owners like me, so as to offer me help in either finding a merchant cash advance, or taking one from their firm. I understand that this is the norm and that in accordance with its Terms of Service Buynance will not broker or sell my information to any third party vendors for any reason whatsoever. I understand that Buynance only supplies my phone number to the funder whose offer I have chosen during the funding pre-qualification process. I understand that Buynance helps funders understand my time is valuable but also understand that Buynance cannot be held responsible for any persistent follow up made by the funder whose offer I chose. I understand that if the funder whoseÕ offer I chose becomes overbearing then I may file a formal complaint with Buynance at complaints@buynance.com. I expressly authorize Funder Pair Inc to call me or send me recorded messages or texts about their products and services using automated technology to my telephone/cellular number I will enter at the completion of the Buynance online pre-qualification process, regardless of any prior Do-Not-Call election to the contrary. I understand that I am not required to give my consent as a condition of any purchase."
      .modal-footer
        %button.btn.btn-default{type: "button", "data-dismiss" => "modal"} 
          Go Back
        %button.btn.btn-green{type: "button", onclick: "accept_offer_disclaimer(this)"}
          Accept Offer
         

  :javascript

    $('.button .btn.offer-btn').click(function(){
      var id = $(this).data('id');
      
      $('#disclaimerModal').find('button.btn').data("id", id);
      console.log($('#disclaimerModal').find('button.btn').data('id'));
      console.log(id);
    });

    function display_offers(){
      $(".hidden-offers" ).css("display", "block");
      $(".pager").css("display", "none");
    }

    function accept_offer_disclaimer(node){
      console.log($(node));
      var update_url;
      var id = $(node).closest("#disclaimerModal").data('id');
      console.log(id);
      window.location = "/business/accept_offer/"+id;
    }

    function show_modal(node){
      $('#disclaimerModal').modal('show')
      id = $(node).closest(".offer").data("id")
      console.log(id)
      $('#disclaimerModal').data("id", id)
    }