f.hidden_field :recovery_code, value: @business.recovery_code
%div{class: "form_group #{return_error_class(@business, :password)}"}
  %label{class: "control-label", :for => :password} 
    Enter new Buynance password
  = f.password_field :password, class: "text-center form-control ", required: true

%div{class: "form_group #{return_error_class(@business, :password_confirmation)}"}
  %label{class: "control-label", :for => :password_confirmation} 
    Re-enter Buynance password
  = f.password_field :password_confirmation, class: "text-center form-control "

= f.submit "Reset Password", class: "btn btn-primary btn-lg btn-lg btn-block green-btn"