.web_body
  .paper-section
    .paper-section-header
      Mobile Confirmation
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .paper-section-bank-login-left.col-xs-7
              .paper-section-bank-login-left-header
                %span Please Confirm your Mobile Number
              .paper-section-bank-login-left-information
                %span To protect your privacy and combat against fraud, we have sent an account confirmation code to your mobile number phone.  Please enter it below.                
              .paper-section-bank-login-form
                = simple_form_for :mobile, url: '/confirm_mobile' do |f|
                  - unless flash.alert.nil?
                    %div{class: "alert alert-danger validation-errors"}
                      %ul{style: "list-style: none;"}
                        %li 
                          = flash.alert
                  .paper-section-bank-login-form-label
                    %span We just sent you a text message, enter the code below.
                  .paper-section-bank-login-form-input
                    = f.input :mobile_opt_code, placeholder: 'Mobile Code', input_html: {class: 'textbox'}, label: false, as: :string
                  .paper-section-bank-login-form-action
                    = f.submit "Continue", class: "form-button flat-button button-submit"
            .paper-section-bank-login-right.col-xs-5
              = render "shared/funding_sidebar"