.web_body
  .paper-section
    .paper-section-header
      Signup
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .paper-section-bank-login-left.col-xs-7
        .paper-section-bank-login-left-header
          %span Create a buynance Account
        .paper-section-bank-login-left-information
          .paper-section-bank-login-left-information-important
            %span Creating a buynance password is fast, safe, and secure.
        .paper-section-bank-login-form
          = simple_form_for @business, defaults: { input_html: { novalidate: "novalidate" } } do |f|
            - if @business.errors.any? || @business_user.errors.any?
              %div{class: "alert alert-danger"}
                %ul
                  - @business.errors.full_messages.each do |msg|
                    %li= msg
                  - @business_user.errors.full_messages.each do |msg|
                    - if /[[:upper:]]/.match(msg[0])
                      %li= msg
            .row
              -if @show_funding_source
                .paper-section-bank-login-form-label
                  %span What type of funding are you applying for?
                .paper-section-bank-login-form-input
                  = f.input :is_refinance, include_blank: '',  :as => :select, collection: [['Business Funding',false],['Refinance Current Loan',true]], selected: "",  input_html: {class: 'textbox'}, label: false, error: false          
              .paper-section-bank-login-form-label
                %span What is your business name?
              .paper-section-bank-login-form-input
                = f.input :name, placeholder: 'Business Name', input_html: {class: 'textbox required'}, label: false
                = f.input :is_refinance, :as => :hidden, :input_html => { :value => (@business.is_refinance or false)}
            .row
              = fields_for @business_user do |business_fields|
                .paper-section-bank-login-form-label
                  %span What is your email address?
                .paper-section-bank-login-form-input
                  = business_fields.text_field :email, placeholder: 'Email', class: 'textbox form-control required email', label: false
                .paper-section-bank-login-form-label
                  %span Create your buynance password
                .paper-section-bank-login-form-input
                  = business_fields.password_field :password, placeholder: 'Password', class: 'textbox required', label: false
                .paper-section-bank-login-form-label
                  %span Comfirm your buynance password
                .paper-section-bank-login-form-input
                  = business_fields.password_field :password, placeholder: 'Password', class: 'textbox required', label: false
                .paper-section-bank-login-form-action
                  = f.submit "Continue", class: "form-button flat-button button-submit"
      .paper-section-bank-login-right.col-xs-5.fix-overflow
        - if @business.is_refinance
          = render "shared/refinance_sidebar"
        - else
          = render "shared/funding_sidebar"