:javascript
  $(window).load(function(){
      $('#myModal').modal('show');
  });

.web_body
  .paper-section.acceptance-main
    .paper-section-header.acceptance-header
      %span Congrats!
    .acceptance
      .acceptance-top.clearfix
        .acceptance-top-image
          = image_tag("yuliya_account.png")
          .name{:style => "text-align: center;margin-top: 20px;font-family: latobold;font-size: 20px;color: #25aae1;"}
            %span Yuliya Glazman
        .acceptance-top-info
          .acceptance-top-info-greeting
            %span 
              = "Hi #{@business.owner_first_name},"
          .acceptance-top-info-message
            %span Congrats!  It looks like you’ve been pre-approved to receive small business funding through Buynance.  Please evaluate your next steps and all options below.
      .acceptance-body.clearfix
        .acceptance-item-gray
          .acceptance-item-gray-title
            %span Buynance Fast Advance™
          .acceptance-item-gray-subtitle
            %span Get 
            - if @business.offers.size > 0
              %span.highlight-green 
                = number_to_currency(@business.offers[0].cash_advance_amount.round(0)) 
            - else
              %span.highlight-green $2,000
            %span in as little as one hour.
          .acceptance-item-gray-list.acceptance-list-one
            %span No credit check.
          .acceptance-item-gray-list.acceptance-list-two
            %span Simple application.
          .acceptance-item-gray-terms
            .acceptance-item-gray-terms-title
              %span Overview
            .acceptance-item-gray-terms-item
              %span You sell us 
              - if @has_offers
                %span.highlight-green{style: "font-family: latobold"} 
                  = number_to_currency(@business.offers[0].total_payback_amount.round(0))
                %span worth of you future sales, we will give you 
                %span 
                  = number_to_currency(@business.offers[0].cash_advance_amount.round(0)) 
                %span cash for them in as little as an hour. 
              - else
                %span.highlight-green{style: "font-family: latobold"} $2,800 
                %span worth of you future sales, we will give you $2,000 cash for them in as little as an hour. 
            .acceptance-item-gray-terms-item
              %span We collect the 
              - if @has_offers
                %span.highlight 
                  = number_to_currency(@business.offers[0].total_payback_amount.round(0))
              - else
                %span.highlight $2,800
              %span over 45 days.
            - if @business.accepted_market?
              .acceptance-item-gray-terms-item
                %span No early payment penalty.
            - else
              .acceptance-item-gray-terms-item{style: "border-bottom-width: 0px;"}
                %span No early payment penalty.
          .acceptance-item-gray-terms-submit
            - if @business.accepted_market?
              = link_to accept_offer_businesses_path(offer: "1"), class: "flat-button button-plan" do
                %span CHOOSE PLAN
              

        .acceptance-item-green
          .acceptance-item-green-title
            %span Buynance Fast Advance Plus™
          .acceptance-item-green-subtitle
            - if @has_offers
              %span Get 
              %span 
                = number_to_currency (@business.offers[1].cash_advance_amount).round(0)
              %span .
              %span 
                = number_to_currency (@business.offers[1].cash_advance_amount * 0.0625).round(0)
              %span today and 
              %span 
                = number_to_currency (@business.offers[1].cash_advance_amount * 0.9375).round(0)
              %span in 7 Days.
            - else
              %span Get $25,000. $3,500 today and $21,500 in 7 Days.
          .acceptance-item-green-subtitle-two
            %span Get 
            - if @has_offers
              %span.highlight-green{style: "font-family: latobold"} 
                = number_to_currency (@business.offers[1].cash_advance_amount * 0.0625).round(0)
            - else 
              %span.highlight-green{style: "font-family: latobold"} $3,500 
            %span in your account in one hour and 
            - if @has_offers
              %span.highlight-green{style: "font-family: latobold"} 
                = number_to_currency (@business.offers[1].cash_advance_amount * 0.9375).round(0)
            - else
              %span.highlight-green{style: "font-family: latobold"} $21,500
            %span in 7 days from one of our preferred partners.
          .acceptance-item-green-terms-item.acceptance-item-green-terms-item-odd
            %span Guaranteed approval.
          .acceptance-item-green-terms-item.acceptance-item-green-terms-item-even
            %span Simple application.
          .acceptance-item-green-terms-item.acceptance-item-green-terms-item-odd
            %span No broker fees.
          .acceptance-item-gray-terms
            .acceptance-item-gray-terms-title
              %span Overview
            .acceptance-item-gray-terms-item
              %span You sell us 
              - if @has_offers
                %span.highlight-green{style: "font-family: latobold"} 
                  = number_to_currency(@business.offers[1].total_payback_amount.round(0)) 
                %span worth of you future sales, we will give you 
                %span 
                  = number_to_currency (@business.offers[1].cash_advance_amount * 0.0625).round(0) 
                %span cash for them in as little as an hour. 
              - else
                %span.highlight-green{style: "font-family: latobold"} $2,800 
                %span worth of you future sales, we will give you $2,000 cash for them in as little as an hour. 
            .acceptance-item-gray-terms-item
              %span We collect the 
              - if @has_offers
                %span
                  = number_to_currency(@business.offers[1].total_payback_amount.round(0) - (@business.offers[1].cash_advance_amount * 0.0625).round(0)) 
              - else
                %span $2,800 
              %span over 30 daily installments. OR,
            - if @business.accepted_market?
              .acceptance-item-gray-terms-item
                %span You complete the sale when you get more cash in a week. 
            - else
              .acceptance-item-gray-terms-item{style: "border-bottom-width: 0px;"}
                %span You complete the sale when you get more cash in a week.
          .acceptance-item-green-terms-submit
            - if @business.accepted_market?
              = link_to accept_offer_businesses_path(offer: "2"), class: "flat-button button-plan" do
                %span CHOOSE PLAN

        .acceptance-item-gray
          .acceptance-item-gray-title
            %span Affiliate Advance
          .acceptance-item-gray-subtitle
            %span Get 
            - if @has_offers
              %span.highlight-green
                = number_to_currency @business.offers[2].cash_advance_amount.round(0)
            - else
              %span.highlight-green $25,000
            %span in your account in 7 days.
          .acceptance-item-gray-list.acceptance-list-one
            %span Credit check required.
          .acceptance-item-gray-list.acceptance-list-two
            %span Minimal paperwork.
          .acceptance-item-gray-terms
            .acceptance-item-gray-terms-title
              %span Overview
            .acceptance-item-gray-terms-item
              %span Guaranteed approval.
            .acceptance-item-gray-terms-item
              %span Simple application process.
            - if @business.accepted_market?
              .acceptance-item-gray-terms-item
                %span Closing costs may apply.
            - else
              .acceptance-item-gray-terms-item{style: "border-bottom-width: 0px"}
                %span Closing costs may apply.
          .acceptance-item-gray-terms-submit
            - if @business.accepted_market?
              = link_to accept_offer_businesses_path(offer: "3"), class: "flat-button button-plan" do
                %span CHOOSE PLAN

- unless @business.accepted_market?
  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          %h4.modal-title{style: "font-family: latobold; font-size: 20px; color: #8dc63f;"} Plan Selected
        .modal-body{style: "font-family: lato; font-size: 15px;"}
          %p Great! Your submission is being processed.  Please check your e-mail for the next steps.
      / /.modal-content
    / /.modal-dialog
  / /.modal

