.web_body
  .paper-section
    .paper-section-header
      %span Account
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .account
              .account-top.clearfix
                .account-top-image
                  = image_tag("yuliya_account.png")
                .account-top-info
                  .account-top-info-greeting
                    %span 
                      = "Hi #{@business.owner_first_name},"
                  .account-top-info-message
                    %span I'm excited because it looks like we will be able to start a competition to get your daily collection reduced! When funders compete you win.
              .account-body
                .account-body-header
                  %span Here Is How We Protect You During The Proccess
                .account-body-list
                  .account-body-list-item.clearfix
                    .account-body-list-item-icon
                      = image_tag("check.png")
                    .account-body-list-item-text
                      %span We preserve your FICO score. You'll be able to get great offers without getting your credit dinged.
                  .account-body-list-item.clearfix
                    .account-body-list-item-icon
                      = image_tag("check.png")
                    .account-body-list-item-text
                      %span We protect your mobile number. We've given you a Buynance Number. This number masks your cell phone numbers. It was all my idea - a simple way of keeping people from abusing your number. 
                  .account-body-list-item.clearfix
                    .account-body-list-item-icon
                      = image_tag("check.png")
                    .account-body-list-item-text
                      %span We've pre-screened our partners. If there is any issue with any partner, let us know and they will get the boot.
              .account-footer
                %span If you have any questions do not hesitate to call us.
