= render "static_pages/about/submenu"
= render "static_pages/about/our_story"
= render "static_pages/about/we_vs_retail_brokers"
= render "static_pages/about/team"
= render "static_pages/about/team_members"