#banner
  .merchant_info.col-xs-5
    .merchant_box
      .section
        .header
          SAVE 114% ON MERCHANT CASH ADVANCES
        .body
          We won’t lie to you, merchant cash advances suck because when you
          take one, you’re giving up your profits while paying it back.
          buynance™ increases your bottom line by 114% during the span of
          your merchant cash advance. We also shorten the amount of time it
          takes you to return to full profitability. Brokers and sales reps
          earn commissions – we don’t. They also charge junk fees and closing
          costs. We won’t.
        .link
          %button.btn.btn-green{type: "button", onclick: "get_funding_link()"}
            %span.icon
              = image_tag("lock.png")
            GET FUNDING
.container
  #web_body
    .how_works
      .top_header
        HOW
        %span.color_text BUYNANCE
        WORKS
      .new_hr
        = image_tag("line.jpg")
      .tell_us.row
        .image.col-xs-4
          = image_tag("tell_us.jpg")
        .section.col-xs-8
          .header
            Tell Us About Your Business
          .body
            We just need to know the basics for now, no hardcore information
            is needed. Start the simple application and zip directly into
            step two.
      .start_auction.row
        .section.col-xs-8
          .header
            Start an Auction
          .body
            We take your business information and our Smart Match system
            matches that information with funders who are the best fit for
            you. You won’t be subject to a credit check until you select the
            offer that works for you. You remain firmly in control.
        .image.col-xs-4
          = image_tag("auction.jpg")
      .get_funding.row
        .image.col-xs-4
          = image_tag("funding.jpg")
        .section.col-xs-8
          .header
            Get Funding
          .body
            Once you select the offer that works best for you – you’ll be
            connected directly with your funding source and in most cases you
            will receive your commission free, junk fee free, business
            funding in as little as 3 days.
    #benefit.benefit
      .top_header
        BENEFITS
      .new_hr
        = image_tag("line.jpg")
      .row
        
        .section.col-md-2.drop
          .image
            = image_tag("middle_man.jpg")
          .header
            No More Middle Men
          .body
            We cut out the middle man (greedy brokers) and protect you from
            junk fees and closing costs – delivering you true wholesale
            rates.
        .section.col-md-2.drop
          .image
            = image_tag("shop_funders.jpg")
          .header
            Shop With Multiple Funders
          .body
            Shop with for the best deal from our hand selected list of top
            notch funders.
        .section.col-md-2.drop
          .image
            = image_tag("smart_match.jpg")
          .header
            Smart Match System
          .body
            Our smart match system helps to protect your profit margin during
            the life of your advance.
        .section.col-md-2
          .image
            = image_tag("credit_check.jpg")
          .header
            Only One Credit Check
          .body
            We protect you from excessive credit checks which harm your
            chances of getting more traditional funding later.
        .section.col-md-2.drop
          .image
            = image_tag("control.jpg")
          .header
            You Maintain Control
          .body
            You choose the funding source that best fits your needs without
            the high pressure sales tactics.
      .row
        .button_row.col-xs-12
          %button.btn.btn-green{type: "button", onclick: "get_funding_link()"}
            %span.icon
              = image_tag("lock.png")
            GET FUNDING
    #why.why_we_fight
      .top_header
        WHY WE FIGHT
      .new_hr
        = image_tag("line.jpg")
      .section.row
        .body.col-xs-5
          Jay – one of our co-founders started out as a broker in the
          merchant cash advance business 6 years ago. He never received his
          first paycheck because his “boss” took all the money and ran. When
          he joined another shop – it didn’t any better. Instead of the shop
          taking his money and running – they were taking money from
          businesses owners like you and running. Broker fees, insane
          equipment leasing fees, ridiculous up-sells, data insecurity, were
          all big enough problems to inspire Jay to put together a team of
          broker busters! The team has been tinkering with this problem off
          and on for more than 4 years and finally after came up with a
          solution that works for you the business owner and our funding
          partners. So if your broker is kind of strange, and your deal don’t
          look good… Who you gonna call? buynance broker busters!… We’re
          dorks. Unapologetically.
        .image.col-xs-7
          = image_tag("why_we_fight.jpg")
.footer_divider
  = image_tag("line.jpg")

:javascript
  function get_funding_link(){
    window.location = "/signup"
  }