= render "static_pages/index/banner.es"
= render "static_pages/index/sliders"
= render "static_pages/index/how_works"
= render "static_pages/index/benefits"
= render "static_pages/index/testimonials"
= render "static_pages/index/in_the_news"