<?xml version="1.0" encoding="UTF-8"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:c="urn:schemas-microsoft-com:office:component:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:x2="http://schemas.microsoft.com/office/excel/2003/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
    <Colors>
      <Color>
        <Index>3</Index>
        <RGB>#000000</RGB>
      </Color>
      <Color>
        <Index>4</Index>
        <RGB>#c0c0c0</RGB>
      </Color>
      <Color>
        <Index>5</Index>
        <RGB>#c6d9f1</RGB>
      </Color>
      <Color>
        <Index>6</Index>
        <RGB>#ff0000</RGB>
      </Color>
    </Colors>
  </OfficeDocumentSettings>
  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>9000</WindowHeight>
    <WindowWidth>13860</WindowWidth>
    <WindowTopX>240</WindowTopX>
    <WindowTopY>75</WindowTopY>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
  <Styles>
    <Style ss:ID="Default" ss:Name="Default" />
    <Style ss:ID="Result" ss:Name="Result">
      <Font ss:Bold="1" ss:Italic="1" ss:Underline="Single" />
    </Style>
    <Style ss:ID="Result2" ss:Name="Result2">
      <Font ss:Bold="1" ss:Italic="1" ss:Underline="Single" />
      <NumberFormat ss:Format="Currency" />
    </Style>
    <Style ss:ID="Heading" ss:Name="Heading">
      <Font ss:Bold="1" ss:Italic="1" ss:Size="16" />
    </Style>
    <Style ss:ID="Heading1" ss:Name="Heading1">
      <Font ss:Bold="1" ss:Italic="1" ss:Size="16" />
    </Style>
    <Style ss:ID="Excel_20_Built-in_20_Normal" ss:Name="Excel Built-in Normal">
      <Font ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <NumberFormat ss:Format="Fixed" />
    </Style>
    <Style ss:ID="Excel_20_Built-in_20_Comma" ss:Name="Excel Built-in Comma">
      <Font ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <NumberFormat ss:Format="General" />
    </Style>
    <Style ss:ID="co1" />
    <Style ss:ID="co2" />
    <Style ss:ID="co3" />
    <Style ss:ID="co4" />
    <Style ss:ID="ta1" />
    <Style ss:ID="ce1" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <Interior ss:Color="#c6d9f1" ss:Pattern="Solid" />
    </Style>
    <Style ss:ID="ce2" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
    </Style>
    <Style ss:ID="ce3" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce4" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce5" ss:Parent="Excel_20_Built-in_20_Normal">
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
    </Style>
    <Style ss:ID="ce6" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <Interior ss:Color="#c6d9f1" ss:Pattern="Solid" />
    </Style>
    <Style ss:ID="ce7" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
    </Style>
    <Style ss:ID="ce8" ss:Parent="Excel_20_Built-in_20_Comma">
      <Alignment ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <NumberFormat ss:Format="General" />
    </Style>
    <Style ss:ID="ce9" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce10" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <NumberFormat ss:Format="General" />
    </Style>
    <Style ss:ID="ce11" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Right" ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
    </Style>
    <Style ss:ID="ce12" ss:Parent="Excel_20_Built-in_20_Normal">
      <NumberFormat ss:Format="General" />
    </Style>
    <Style ss:ID="ce13" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <Interior ss:Color="#c6d9f1" ss:Pattern="Solid" />
    </Style>
    <Style ss:ID="ce14" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
    </Style>
    <Style ss:ID="ce15" ss:Parent="Excel_20_Built-in_20_Comma">
      <Alignment ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <NumberFormat ss:Format="General" />
    </Style>
    <Style ss:ID="ce16" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce17" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce18" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <Interior ss:Color="#c6d9f1" ss:Pattern="Solid" />
    </Style>
    <Style ss:ID="ce19" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
    </Style>
    <Style ss:ID="ce20" ss:Parent="Excel_20_Built-in_20_Comma">
      <Alignment ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <NumberFormat ss:Format="General" />
    </Style>
    <Style ss:ID="ce21" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce22" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce23" ss:Parent="Excel_20_Built-in_20_Normal">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Bold="1" ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
    </Style>
    <Style ss:ID="ce24" ss:Parent="Excel_20_Built-in_20_Comma">
      <Alignment ss:Vertical="Bottom" ss:Indent="0" ss:Rotate="0" />
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
      <Font ss:Color="#000000" ss:FontName="Calibri" ss:Size="12" />
      <NumberFormat ss:Format="General" />
    </Style>
    <Style ss:ID="ce25" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce26" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
    <Style ss:ID="ce27" ss:Parent="Excel_20_Built-in_20_Normal">
      <Borders>
        <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
        <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2" ss:Color="#000000" />
      </Borders>
    </Style>
  </Styles>
  <ss:Worksheet ss:Name="Sheet1">
    <Table ss:StyleID="ta1">
      <Column ss:Width="197.0352" />
      <Column ss:Width="73.1592" />
      <Column ss:Width="71.0928" />
      <Column ss:Span="1020" ss:Width="64.6848" />
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce1">
          <Data ss:Type="String">LEAD ID #<%= @business.id + 406723 %>></Data>
        </Cell>
        <Cell ss:StyleID="ce6">
          <Data ss:Type="String">AVERAGE</Data>
        </Cell>
        <Cell ss:MergeAcross="2" ss:StyleID="ce13">
          <Data ss:Type="String">ACTUALS</Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce2">
          <Data ss:Type="String">BANK DATA POINTS COLLECTED</Data>
        </Cell>
        <Cell ss:StyleID="ce7">
          <Data ss:Type="String">3 MO</Data>
        </Cell>
        <Cell ss:StyleID="ce14">
          <Data ss:Type="String"><%="#{@business.bank_account.transactions.months_ago(3).last.transaction_date.strftime("%m/%d")} - #{@business.bank_account.transactions.months_ago(3).first.transaction_date.strftime("%m/%d")}"%></Data>
        </Cell>
        <Cell ss:StyleID="ce19">
          <Data ss:Type="String"><%="#{@business.bank_account.transactions.months_ago(2).last.transaction_date.strftime("%m/%d")} - #{@business.bank_account.transactions.months_ago(2).first.transaction_date.strftime("%m/%d")}"%></Data>
        </Cell>
        <Cell ss:StyleID="ce23">
          <Data ss:Type="String"><%="#{@business.bank_account.transactions.months_ago(1).last.transaction_date.strftime("%m/%d")} - #{@business.bank_account.transactions.months_ago(1).first.transaction_date.strftime("%m/%d")}"%></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce3">
          <Data ss:Type="String">Deposit Size</Data>
        </Cell>
        <Cell ss:StyleID="ce8">
          <Data ss:Type="Number"><%= ((@business.bank_account.total_deposits_value / @business.bank_account.total_number_of_deposits)) unless (@business.bank_account.nil? or @business.bank_account.total_number_of_deposits.nil? or @business.bank_account.total_deposits_value.nil? or (@business.bank_account.total_deposits_value == 0)) %></Data>
        </Cell>
        <Cell ss:StyleID="ce15">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.deposits.months_ago(3).average(:amount).abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce20">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.deposits.months_ago(2).average(:amount).abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce24">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.deposits.months_ago(1).average(:amount).abs %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce3">
          <Data ss:Type="String">Gross Monthly Deposits</Data>
        </Cell>
        <Cell ss:StyleID="ce8">
          <Data ss:Type="Number"><%= @business.bank_account.average_monthly_deposit.abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce15">
          <Data ss:Type="Number"><%= @business.bank_account.deposits_three_months_ago.abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce20">
          <Data ss:Type="Number"><%= @business.bank_account.deposits_two_months_ago.abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce24">
          <Data ss:Type="Number"><%= @business.bank_account.deposits_one_month_ago.abs %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce3">
          <Data ss:Type="String">Total Deposits Per Month</Data>
        </Cell>
        <Cell ss:StyleID="ce9">
          <Data ss:Type="Number"><%= @business.bank_account.average_amount_of_deposits %></Data>
        </Cell>
        <Cell ss:StyleID="ce3">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.deposits.months_ago(3).size %></Data>
        </Cell>
        <Cell ss:StyleID="ce21">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.deposits.months_ago(2).size %></Data>
        </Cell>
        <Cell ss:StyleID="ce25">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.deposits.months_ago(1).size %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Index="6" ss:Height="15.2496">
        <Cell ss:StyleID="ce3">
          <Data ss:Type="String">Total Number of  OVERDRAFT</Data>
        </Cell>
        <Cell ss:StyleID="ce9">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.size %></Data>
        </Cell>
        <Cell ss:StyleID="ce16">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.months_ago(3).size %></Data>
        </Cell>
        <Cell ss:StyleID="ce21">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.months_ago(2).size %></Data>
        </Cell>
        <Cell ss:StyleID="ce26">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.months_ago(1).size %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce4">
          <Data ss:Type="String">Total Amount of OVERDRAFT</Data>
        </Cell>
        <Cell ss:StyleID="ce10">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.sum(:amount).abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce17">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.months_ago(3).sum(:amount).abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce22">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.months_ago(2).sum(:amount).abs %></Data>
        </Cell>
        <Cell ss:StyleID="ce27">
          <Data ss:Type="Number"><%= @business.bank_account.transactions.overdraft.months_ago(1).sum(:amount).abs %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce5">
          <Data ss:Type="String">BASIC CUSTOMER INFO</Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">Credit Score:</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String"><%= @business.credit_score_range %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">Bankruptcies:</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String"><%= @business.is_ever_bankruptcy ? "Yes" : "No" %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Index="12" ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">Tax Lien</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String"><%= @business.is_tax_lien ? "Yes" : "No" %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">Judgments:</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String"><%= @business.is_judgement ? "Yes" : "No" %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">City:</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String"><%= @business.city.titleize %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">State:</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String"><%= @business.location_state %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">Zip:</Data>
        </Cell>
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="Number"><%= @business.zip_code %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Index="18" ss:Height="15.2496">
        <Cell ss:Index="2" ss:StyleID="ce12" />
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="ce5">
          <Data ss:Type="String">BASIC CUSTOMER INFO</Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">Business Type</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String"><%= @business.business_type.name unless @business.business_type.nil? %></Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:StyleID="Excel_20_Built-in_20_Normal">
          <Data ss:Type="String">In Business over 1 year</Data>
        </Cell>
        <Cell ss:StyleID="ce11">
          <Data ss:Type="String">Yes</Data>
        </Cell>
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
      <Row ss:Height="15.2496">
        <Cell ss:Index="1024" ss:StyleID="Excel_20_Built-in_20_Normal" />
      </Row>
    </Table>
    <x:WorksheetOptions />
  </ss:Worksheet>
</Workbook>