.web_body
  .paper-section
    .paper-section-header
      Recover
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.clearfix
          .paper-section-main-sheet.clearfix
            .paper-section-main-sheet.clearfix
              .paper-section-main-sheet.clearfix
                .paper-section-main-sheet.clearfix
                  .paper-section-main-sheet.last-paper-section
                    .paper-section-bank-login.row
                      .paper-section-bank-login-left.col-xs-7
                        .paper-section-bank-login-left-header
                          %span Reset Your Buynance password
                        .paper-section-bank-login-left-information
                          %span Please enter your new password to have it reset.
                        .paper-section-bank-login-form
                          = simple_form_for @business_user, url: {controller: :business_users, action: :reset_password}, method: :post, defaults: { input_html: { novalidate: "novalidate" } } do |f|
                            - if @business_user.errors.any?
                              %div{class: "alert alert-danger validation-errors"}
                                %ul
                                  - @business_user.errors.full_messages.each do |msg|
                                    - if /[[:upper:]]/.match(msg[0])
                                      %li= msg
                            .paper-section-bank-login-form-label
                              %span Enter new Buynance password
                            .paper-section-bank-login-form-input
                              = f.input :recovery_code, :as => :hidden, :input_html => { :value => @business_user.recovery_code }
                              = f.input :password, placeholder: 'Password', input_html: {class: 'textbox required'}, label: false, error: false
                            .paper-section-bank-login-form-label
                              %span Re-enter new Buynance password
                            .paper-section-bank-login-form-input
                              = f.input :password, placeholder: 'Password', input_html: {class: 'textbox required'}, label: false, error: false
                            .paper-section-bank-login-form-action
                              = f.submit "Continue", class: "form-button flat-button button-submit"
                      .paper-section-bank-login-right.col-xs-5
                        = render "shared/funding_sidebar"