.web_body.container 
  #signup-form
    .row.main-title-wrap
      .col-md-6.col-md-offset-3
        %h1
    .row    
      .col-md-6.col-md-offset-3.form-style
        %h3.form-header Tell Us A Bit About You
        - if @business.errors.any?
          %div{class: "alert alert-danger"}
            %ul{style: "list-style: none;"}
              - @business.errors.full_messages.each do |msg|
                %li= msg
        = form_for @business, url: wizard_path do |f|
          %div{class: "form_group #{return_error_class(@business, :owner_first_name)}"}
            %label{class: "control-label", :for => :owner_first_name}
              Your First Name
            = f.text_field :owner_first_name, class: "text-center form-control ", required: true
          %div{class: "form_group #{return_error_class(@business, :owner_last_name)}"}
            %label{class: "control-label", :for => :owner_last_name}
              Your Last Name
            = f.text_field :owner_last_name, class: "text-center form-control ", required: true
          %div{class: "form_group #{return_error_class(@business, :name)}"}
            %label{class: "control-label", :for => :name}
              Business Name    
            = f.text_field :name, class: "text-center form-control ", required: true
          
          %div{class: "form_group #{return_error_class(@business, :phone_number)}"}
            %label{class: "control-label", :for => :phone_number}
              Business Phone Number
            = f.text_field :phone_number, class: "text-center form-control phone_convert", required: true
          %div{class: "form_group #{return_error_class(@business, :mobile_number)}"}
            %label{class: "control-label", :for => :mobile_number}
              Mobile Phone Number
            = f.text_field :mobile_number, class: "text-center form-control phone_convert", required: true
          .action
            %button{class: "btn btn-primary btn-lg btn-lg btn-block green-btn offer-btn"}
              Continue 


          #disclaimerModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "disclaimerModal", role: "dialog", tabindex: "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  Notice:
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                .modal-body
                  %textarea{readonly: "readonly", rows: 7, cols: 60, style: "resize: none;"}
                    ="I understand that merchant cash advance brokers and funders frequently place unsolicited telephone calls to business owners like me, so as to offer me help in either finding a merchant cash advance, or taking one from their firm.  I understand that this is the norm and that in accordance with it’s Terms of Service Buynance will not broker or sell my information to any third party vendors for any reason whatsoever. I understand that Buynance only supplies my phone number to the funder whose offer I have chosen during the funding pre-qualification process. I understand that Buynance helps funders understand my time is valuable but also understand that Buynance cannot be held responsible for any persistent follow up made by the funder whose offer I chose. I understand that if the funder whose’ offer I chose becomes overbearing then I may file a formal complaint with Buynance at complaints@buynance.com. I expressly authorize Funder Pair Inc to call me or send me recorded messages or texts about their products and services using automated technology to my telephone/cellular number I will enter during this application proccess, regardless of any prior Do-Not-Call election to the contrary. I understand that I am not required to give my consent as a condition of any purchase"

                .modal-footer
                  %button.btn.btn-default{type: "button", "data-dismiss" => "modal"} 
                    Go Back
                  .action
                    = #f.submit "Continue", {class: "btn btn-green}
