= render "dialer_dashboards/home/banner"
= render "dialer_dashboards/home/what_we_do"
= render "dialer_dashboards/home/how_you_can_help"
= render "dialer_dashboards/home/how_does_this_work"
= render "dialer_dashboards/home/benefits"
= render "dialer_dashboards/home/faq"

= image_tag("twitter_meta.jpg", style: "display: none;")