= render "dialer_dashboards/iso_home/banner"
= render "dialer_dashboards/iso_home/what_we_do"
= render "dialer_dashboards/iso_home/how_you_can_help"
= render "dialer_dashboards/iso_home/how_does_this_work"
/= render "dialer_dashboards/iso_home/benefits"
= render "dialer_dashboards/iso_home/faq"