.web_body
  .paper-section
    .paper-section-header
      Login
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .paper-section-bank-login-left.col-xs-7
              .paper-section-bank-login-left-header
                %span Login to your Buynance account
              .paper-section-bank-login-form
                = form_for @business_user_session, :as => :business_user_session, :url => { :action => "create" } do |f|
                  - if @business_user_session.errors.any?
                    %div{class: "alert alert-danger"}
                      %ul
                        - @business_user_session.errors.full_messages.each do |msg|
                          %li= msg
                  .paper-section-bank-login-form-label
                    %span Buyanance Email
                  .paper-section-bank-login-form-input
                    = f.text_field :email, class: 'textbox', placeholder: 'Email'
                  .paper-section-bank-login-form-label
                    %span Buynance Passowrd
                  .paper-section-bank-login-form-input
                    = f.password_field :password, class: 'textbox', placeholder: 'Password'
                  .paper-section-bank-login-form-action
                    = f.submit "Continue", class: "form-button flat-button button-submit"
                  .paper-section-bank-login-form-recover
                    %a{href: "/recover"} Recover Password
            .paper-section-bank-login-right.col-xs-5
              = render "shared/funding_sidebar"