.web_body
  #signup-form.container 
    .row.main-title-wrap
      .col-md-6.col-md-offset-3
        %h1
    .row    
      .col-md-6.col-md-offset-3.form-style
        %h3.form-header Tell Us A Bit About You
        - if @business.errors.any?
          %div{class: "alert alert-danger"}
            %ul{style: "list-style: none;"}
              - @business.errors.full_messages.each do |msg|
                %li= msg
        = form_for @business, url: wizard_path do |f|
          %label{class: "control-label", :for => :owner_first_name}
            Your First Name
          = f.text_field :owner_first_name, class: "text-center form-control "
          %label{class: "control-label", :for => :owner_last_name}
            Your Last Name
          = f.text_field :owner_last_name, class: "text-center form-control "
          %label{class: "control-label", :for => :name}
            Business Name
          = f.text_field :name, class: "text-center form-control "
          %label{class: "control-label", :for => :phone_number}
            Business Phone Number
          = f.text_field :phone_number, class: "text-center form-control "
          %label{class: "control-label", :for => :street_address_one}
            Business Address Line One
          = f.text_field :street_address_one, class: "text-center form-control "
          %label{class: "control-label", :for => :street_address_two}
            Business Address Line Two
          = f.text_field :street_address_two, class: "text-center form-control "
          %label{class: "control-label", :for => :city}
            Business City
          = f.text_field :city, class: "text-center form-control "
          %label{class: "control-label", :for => :state}
            Business State
          = f.text_field :state, class: "text-center form-control "
          %label{class: "control-label", :for => :previous_merchant}
            Are You Currently Paying Back a Merchant Cash Advance
          %select{class: "form-control text-center", style: "text-indent: 5px;", :name => "business[is_paying_back]"}
            %option{value: "0"} 
              = "No"
            %option{value: "1"}
              = "Yes" 

          .action
            =f.submit "Continue", class: "btn btn-primary btn-lg btn-lg btn-block green-btn"