.paper-section-bank-login-right-top.row
  .paper-section-bank-login-right-top-image
    = image_tag("bank_lock.png")
  .paper-section-bank-login-right-top-information
    .paper-section-bank-login-right-top-information-header
      %span Safe & Secure
    .paper-section-bank-login-right-top-information-subheader
      
      %span We use bank-level security to keep all your data secure
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Trusted by over 100,000 businesses
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Has advanced over $200,000 to help small businesses grow.
%hr
.paper-section-bank-login-subsection
  %span.paper-section-bank-login-subsection-phone 
    = image_tag("bank_phone.png")
  %span.paper-section-bank-login-subsection-questions Questions?
  %span.paper-section-bank-login-subsection-phone-number 1-888-906-4909
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-security.row
    %span.paper-section-bank-login-subsection-security-image-left
      = image_tag("bbb_security.png")
    %span.paper-section-bank-login-subsection-security-image-right
      = image_tag("truste_security.png")
  .paper-section-bank-login-subsection-security.row
    %span.paper-section-bank-login-subsection-security-image-left
      = image_tag("verisign_security.png")
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-about
    %span We never store or view your passwords to your marketplaces or payment proccessors. We simply redirect you to their sites to confirm ownership of your account.
