.paper-section-bank-login-right-top.row
  .paper-section-bank-login-right-top-image
    = image_tag("funder_icon.png")
  .paper-section-bank-login-right-top-information
    .paper-section-bank-login-right-top-information-header
      %span ReNew
    .paper-section-bank-login-right-top-information-subheader
      
      %span Renew your current business financing
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Reduce daily collections by up to half.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Be more profitable during your payback period.
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Never pay junk fees + closing costs again. 
  .paper-section-bank-login-subsection-points
    = image_tag("bank_pointer.png")
    %span Get cheaper money, faster. 
%hr
.paper-section-bank-login-subsection
  %span.paper-section-bank-login-subsection-phone 
    = image_tag("bank_phone.png")
  %span.paper-section-bank-login-subsection-questions Questions?
  %span.paper-section-bank-login-subsection-phone-number 1-888-906-4909
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-security.row
    %span.paper-section-bank-login-subsection-security-image-left
      = image_tag("norton_secured_seal.png")
    %span.paper-section-bank-login-subsection-security-image-right
      %span#siteseal
        %script{src: "https://seal.godaddy.com/getSeal?sealID=XPD2XZFU9dkzQvrOXdC1r650zwP8rFptScuzI1smISRs1jXJSw", type: "text/javascript"}
%hr
.paper-section-bank-login-subsection
  .paper-section-bank-login-subsection-about
    %span We never store or view your passwords to your marketplaces or payment processors. We simply redirect you to their sites to confirm ownership of your account.
