
.row.main-title-wrap
  .col-md-6.col-md-offset-3
    %h1.main-title Profitability Calculator
    = render "layouts/shared"
.row
  .col-md-6.col-md-offset-3.form-style
    %h3.form-header Start Calculating
    = form_for @profitability, class: "new_profitability", id: "new_profitability" do |f|
      - if @profitability.errors.any?
        #error_explanation
          %h2= "#{pluralize(@profitability.errors.count, "error")} prohibited this profitability from being saved:"
          %ul
            - @profitability.errors.full_messages.each do |msg|
              %li= msg
      %div{style: "margin:0;padding:0;display:inline"}

      %label{:for => :monthly_cash_collection_amount} 
        How much money does your business earn each<br/> month-before you pay the bills?
      = f.text_field :monthly_cash_collection_amount, value: (@saved_profitability ? @saved_profitability.monthly_cash_collection_amount : 40000), class: "text-center form-control", required: true
      
      = f.label "How much are your total monthly bills?"
      = f.text_field :total_monthly_bills, value: (@saved_profitability ? @saved_profitability.total_monthly_bills : 30000), class: "text-center form-control", required: true

      %label{:for => :daily_merchant_cash_advance} 
        How much is your current merchant <br/>cash advance company collecting daily?
      = f.text_field :daily_merchant_cash_advance, value: (@saved_profitability ? @saved_profitability.daily_merchant_cash_advance : 200), class: "text-center form-control", required: true
      
      .actions
        = f.submit "GET RESULTS", class: "btn btn-primary btn-lg btn-lg btn-block green-btn"

- if @saved_profitability
  .row.result-box
    .col-md-6.col-md-offset-3.form-style
      %h3 Your gross profit margin is
      %h2.text-green= number_to_percentage @saved_profitability.gross_profit_margin*100, precision: 0
      %br/
      %h3 Your projected monthly profit is
      %h2.text-green{class: ("text-red" if @saved_profitability.projected_monthly_profit < 0)}= number_to_currency @saved_profitability.projected_monthly_profit, precision: 0
      %br/
      - if @saved_profitability.projected_monthly_profit < 0
        = link_to "CLICK HERE TO GET A BETTER DEAL", "http://www.buynance.com/get-started/", class: "btn btn-primary btn-lg btn-lg btn-block teal-btn"