%h1 Listing entries

%table.table.table-bordered
  %tr
    %th Date
    %th Monthly cash collection amount
    %th Total Monthly Bills
    %th Daily Merchant Cash Advance
    %th Gross profit margin
    %th Projected daily profit
    / %th
    / %th
    / %th

  - @profitabilities.each do |profitability|
    %tr
      %td= profitability.created_at.strftime("%m/%d/%Y")
      %td= number_to_currency profitability.monthly_cash_collection_amount
      %td= number_to_currency profitability.total_monthly_bills
      %td= number_to_currency profitability.daily_merchant_cash_advance
      %td= number_to_percentage profitability.gross_profit_margin, precision: 0
      %td= number_to_currency profitability.projected_monthly_profit, precision: 0
      / %td= link_to 'Show', profitability
      / %td= link_to 'Edit', edit_profitability_path(profitability)
      / %td= link_to 'Destroy', profitability, :method => :delete, :data => { :confirm => 'Are you sure?' }