- meta title: "Small Business Funding Calculator - Buynance", description: "Use the calculator to see how much money you will take home while paying back your current, or proposed alternative business funding arrangement.", keywords: %w(merchant cash advance business funding small loan finance financing calculator rate compare)

- if @saved_profitability 
  :javascript
    $(window).load(function(){
      $.scrollTo('.mca-result', 1000)
    })
    
.web_body
  .paper-section
    .paper-section-header
      %span Merchant Cash Advance
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.clearfix
          .paper-section-main-sheet.last-paper-section
            .paper-section-bank-login.row
              .paper-section-bank-login-left.col-xs-7
                .mca-information
                  .mca-information-section.mca-information-header
                    %span Merchant cash advances are a short-term form of alternative business funding most commonly used for things like unexpected expenses, expansion, payroll, marketing, or facility upgrades.
                  .mca-information-section.mca-information-subheader
                    %span The product was originally created as a means to solve the problems small business owners face when they are turned away for working capital loans.
                  .mca-information-section
                    %span Merchant cash advances are based on what is referred to as a factor rate. A factor rate represents the final cost of funds after fee.
                  .mca-information-section.mca-information-section-highlighted
                    %span For example, if you receive a merchant cash advance in the amount of $10,000 with a factor rate of 1.30, then you will pay back $13,000.
                  .mca-information-section.mca-information-section-list
                    .mca-information-section-list-header
                      %span Your merchant cash advance can be paid back in one of two ways:
                    .mca-information-section-list-section
                      .mca-information-section-list-item.clearfix
                        .mca-information-section-list-item-image
                        .mca-information-section-list-item-text
                          %span Through a small portion of your future credit card sales will go to pay the money back plus fee.
                      .mca-information-section-list-item.clearfix
                        .mca-information-section-list-item-image
                        .mca-information-section-list-item-text
                          %span Through a daily debit made to your business or checking account.
                  .mca-information-section.mca-information-section-regular
                    %span You qualify for a merchant cash advance if you have been in business for at least one year, and earn at least $15,000 per month.
                  .mca-information-section.mca-information-section-link
                    %span More information on merchant cash advances can be found on Wikipedia by clicking 
                  
                    %a{href: "http://en.wikipedia.org/wiki/Merchant_cash_advance", style: "font-size: 13.5px; text-decoration: underline;"} here
                  .mca-information-section.mca-information-section-help
                    %span Use the calculator on this page to better understand your P&L during the life of your merchant cash advance.
                
                - if @saved_profitability    
                  .mca-result
                    .mca-result-header
                      %span Result
                    .mca-result-item.clearfix
                      %span Your gross profit margin is 
                      %span.mca-gross-value
                        = number_to_percentage @saved_profitability.gross_profit_margin*100, precision: 1 
                    .mca-result-item.clearfix 
                      %span Your projected monthly profit is: 
                      %span.mca-monthly-profit-value{class: ("highlight-red" if @saved_profitability.projected_monthly_profit < 0)}
                        = number_to_currency @saved_profitability.projected_monthly_profit, precision: 0
                    - if @saved_profitability.projected_monthly_profit < 0
                      - if @saved_profitability.total_month_fully_profitable_again != -1
                        .mca-result-item.mca-result-months
                          %span Below is the total number of months it will take for you to be fully profitable again.
                          .mca-months-value
                            %span{class: ("highlight-red" if @saved_profitability.projected_monthly_profit < 0)}
                              = @saved_profitability.total_month_fully_profitable_again
                    .mca-result-action
                      = link_to "CLICK TO GET 114% OFF YOUR NEXT CASH ADVANCE", signup_url, class: "flat-button button-submit"


              .paper-section-bank-login-right.col-xs-5.fix-overflow
                .mca-calculator
                  .mca-calculator-header
                    %span Cash Advance Profit Calculator
                  .mca-calculator-main
                    = simple_form_for @profitability do |f|
                      - if @profitability.errors.any?
                        %div{class: "alert alert-danger validation-errors"}
                          %ul
                            - @profitability.errors.full_messages.each do |msg|
                              %li= msg


                      .mca-calculator-main-group
                        .mca-calculator-main-group-label
                          %span How much money does your business earn each month before you pay the bills?
                        .mca-calculator-main-group-input
                          = f.input :monthly_cash_collection_amount, input_html: {class: 'textbox currency_convert', style: "width: 100%;", value: (@saved_profitability ? @saved_profitability.monthly_cash_collection_amount : '$50,000')}, label: false,  error: false, as: :string
                      .mca-calculator-main-group
                        .mca-calculator-main-group-label
                          %span How much are your total monthly bills?
                        .mca-calculator-main-group-input
                          = f.input :total_monthly_bills, input_html: {class: 'textbox currency_convert', style: "width: 100%;", value: (@saved_profitability ? @saved_profitability.total_monthly_bills : '$40,000')}, label: false,  error: false, as: :string
                      .mca-calculator-main-group
                        .mca-calculator-main-group-label
                          %span How much is your current merchant cash advance company collecting daily?
                        .mca-calculator-main-group-input
                          = f.input :daily_merchant_cash_advance, input_html: {class: 'textbox currency_convert', style: "width: 100%;", value: (@saved_profitability ? @saved_profitability.daily_merchant_cash_advance : '$280')}, label: false,  error: false, as: :string
                      .mca-calculator-main-group
                        .mca-calculator-main-group-label
                          %span How much is the monthly collection amount for all other loan ?
                        .mca-calculator-main-group-input
                          = f.input :other_monthly_loan_collection, input_html: {class: 'textbox currency_convert', style: "width: 100%;", value: (@saved_profitability ? @saved_profitability.other_monthly_loan_collection : '$0')}, label: false,  error: false, as: :string
                      .mca-calculator-main-group-action
                        = f.submit "Continue", class: "form-button flat-button button-submit"
