- if @saved_profitability
  :javascript
    included_result = true
- else
  :javascript
    included_result = false

.web_body
  .wrapper
    %h1.main-title Merchant Cash Advance
    .main
      .text
        %p.definition Merchant cash advances are a short-term form of alternative business funding most commonly used for things like unexpected expenses, expansion, payroll, marketing, or facility upgrades.
        %p.second The product was originally created as a means to solve the problem small business owners face when they are turned away for working capital loans.
        %p Merchant cash advances are based on what is referred to as a factor rate. A factor rate represents the final cost of funds after fee.
        %p.example For example, if you receive a merchant cash advance in the amount of $10,000 with a factor rate of 1.30, then you will pay back $13,000.
        %p.ways Your merchant cash advance can be paid back in one of two ways:
        %p.way Through a small portion of your future credit card sales will go to pay the money back plus fee.
        %p.way Through a daily debit made to your business or checking account.
        %p.qualify You qualify for a merchant cash advance if you have been in business for at least one year, and earn at least $15,000 per month.
        %p
          More information on merchant cash advances can be found on Wikipedia by clicking
          = succeed "." do
            %a{href: "http://en.wikipedia.org/wiki/Merchant_cash_advance"} here
          = succeed "Use the calculator on this page to better understand your P&L during the life of your merchant cash advance." do
            %br/
      .calc-wrapper
        %h2.title Cash Advance Profit Calculator
        .calculator
          %form#new_profitability.new_profitability{"accept-charset" => "UTF-8", action: "/calculator", method: "post"}
            %div{style: "margin:0;padding:0;display:inline"}
              %input{name: "utf8", type: "hidden", value: "✓"}/
              %input{name: "authenticity_token", type: "hidden", value: "Lxt8fdnNK4+QpSmkseQlTbFLvnps386ks1+dOPunTQo="}/
            %div{style: "margin:0;padding:0;display:inline"}
            .form_group
              %label.control-label{for: "monthly_cash_collection_amount"}
                How much money does your business earn each month before you pay the bills?
              %input#profitability_monthly_cash_collection_amount.text-center.form-control{maxlength: "9", min: "1", name: "profitability[monthly_cash_collection_amount]", required: "required", size: "9", type: "text", value: "$50000"}/
            .form_group
              %label.control-label{for: "total_monthly_bills"}
                How much are your total monthly bills?
              %input#profitability_total_monthly_bills.text-center.form-control{maxlength: "9", min: "1", name: "profitability[total_monthly_bills]", required: "required", size: "9", type: "text", value: "$40000"}/
            .form_group
              %label.control-label{for: "daily_merchant_cash_advance"}
                How much is your current merchant cash advance company collecting daily?
              %input#profitability_daily_merchant_cash_advance.text-center.form-control{name: "profitability[daily_merchant_cash_advance]", required: "required", type: "text", value: "$280"}/
              .actions
                %input#hidden_button.btn.btn-primary.btn-lg.btn-lg.btn-block.green-btn{name: "commit", type: "submit", value: "GET RESULTS"}/
        .result-box
          - if @saved_profitability
            .results
              %p.result-title Your gross profit margin is:
              %p.result.green= number_to_percentage @saved_profitability.gross_profit_margin*100, precision: 1
              %p.result-title Your projected monthly profit is:
              %p.result.green{class: ("red" if @saved_profitability.projected_monthly_profit < 0)}= number_to_currency @saved_profitability.projected_monthly_profit, precision: 0

              - if @saved_profitability.projected_monthly_profit < 0
                - if @saved_profitability.total_month_fully_profitable_again != -1
                  %p.result-title Below is the total number of months it will take for you to be fully profitable again:
                  %p.result.green{class: ("red" if @saved_profitability.projected_monthly_profit < 0)}= @saved_profitability.total_month_fully_profitable_again
              %a.button-deal{href: "/signup"} Get a better deal
