
- if @saved_profitability
  :javascript
    included_result = true
- else
  :javascript
    included_result = false


.web_body
  .row.main-title-wrap
    .col-md-6.col-md-offset-3
      %h1.main-title Merchant Cash Advance
  .container
    .main_body.no-form.row{style: "text-align:justify; padding: 10px;"}
      .col-md-6{style: "margin-top: 0px; padding-right: 10px;"}
        .WordSection1
          %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;\ntext-align:justify;text-justify:inter-ideograph;line-height:18.75pt;background:\nwhite"}
            %span{style: "font-size:12.0pt;font-family:Helvetica;color:#666666"}
              Merchant cash advances are a short-term
              form of alternative business funding most commonly used for things like
              unexpected expenses, expansion, payroll, marketing, or facility upgrades. The
              product was originally created as a means to solve the problem small business
              owners face when they are turned away for working capital loans. Merchant cash
              advances are based on what is referred to as a factor rate. A factor rate
              represents the final cost of funds after fee. For example, if you receive a
              merchant cash advance in the amount of $10,000 with a factor rate of 1.30, then
              you will pay back $13,000. Your merchant cash advance can be paid back in one
              of two ways:
            %span{:style => "font-size:10.5pt;font-family:Helvetica;\ncolor:#595959;mso-themecolor:text1;mso-themetint:166"}
              %o:p
          %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;\ntext-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:\n18.75pt;mso-list:l0 level1 lfo1;tab-stops:list .5in;background:white"}
            <![if !supportLists]>
            %span{:style => "font-size:10.5pt;font-family:Helvetica;mso-fareast-font-family:Helvetica;\nmso-bidi-font-family:Helvetica;color:#595959;mso-themecolor:text1;mso-themetint:\n166"}>
              %span{:style => "mso-list:Ignore"}
                1.
                %span{:style => "font:7.0pt \"Times New Roman\""}
                  \&nbsp;&nbsp;&nbsp;&nbsp;
            <![endif]>
            %span{style: "font-size:12.0pt;font-family:Helvetica;color:#666666"}
              Through a small portion
              of your future credit card sales will go to pay the money back plus fee.
            %span{:style => "font-size:10.5pt;font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
              %o:p
          %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:.5in;\ntext-align:justify;text-justify:inter-ideograph;text-indent:-.25in;line-height:\n18.75pt;mso-list:l0 level1 lfo1;tab-stops:list .5in;background:white;\nbox-sizing: border-box"}
            <![if !supportLists]>
            %span{:style => "font-size:10.5pt;\nfont-family:Helvetica;mso-fareast-font-family:Helvetica;mso-bidi-font-family:\nHelvetica;color:#595959;mso-themecolor:text1;mso-themetint:166"}>
              %span{:style => "mso-list:Ignore"}
                2.
                %span{:style => "font:7.0pt \"Times New Roman\""}
                  \&nbsp;&nbsp;&nbsp;&nbsp;
            <![endif]>
            %span{style: "font-size:12.0pt;font-family:Helvetica;color:#666666"}
              Through a daily debit
              made to your business or checking account.
            %span{:style => "font-size:10.5pt;\nfont-family:Helvetica;color:#595959;mso-themecolor:text1;mso-themetint:166"}
              %o:p
          %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;\ntext-align:justify;text-justify:inter-ideograph;line-height:18.75pt;background:\nwhite;box-sizing: border-box;orphans: auto;widows: auto;-webkit-text-stroke-width: 0px;\nword-spacing:0px"}
            %span{:style => "font-size:12.0pt;font-family:Helvetica;\ncolor:#595959;mso-themecolor:text1;mso-themetint:166"}
              You qualify for a
              merchant cash advance if you have been in business for at least one year, and
              earn at least $15,000 per month.
            %span{:style => "font-size:10.5pt;\nfont-family:Helvetica;color:#595959;mso-themecolor:text1;mso-themetint:166"}
              %o:p
          %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;\ntext-align:justify;text-justify:inter-ideograph;line-height:15.0pt;background:\nwhite;box-sizing: border-box;orphans: auto;widows: auto;-webkit-text-stroke-width: 0px;\nword-spacing:0px"}
            %span{:style => "font-size:12.0pt;font-family:Helvetica;\ncolor:#595959;mso-themecolor:text1;mso-themetint:166"}
              More information on
              merchant cash advances can be found on Wikipedia by clicking
              %span.apple-converted-space &nbsp;
              = succeed "." do
                %a{:href => "http://en.wikipedia.org/wiki/Merchant_cash_advance", :style => "box-sizing: border-box;\ncolor:inherit;background-position:initial initial;background-repeat:initial initial"}
                  %span{:style => "color:#595959;mso-themecolor:text1;mso-themetint:166;text-decoration:underline;text-underline:none"} here
              %o:p
          %p{:style => "margin-top:0in;margin-right:0in;margin-bottom:7.5pt;margin-left:0in;\ntext-align:justify;text-justify:inter-ideograph;line-height:15.0pt;background:\nwhite"}
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:12.0pt;\nfont-family:Helvetica;color:#25A7E9;mso-themecolor:text1;mso-themetint:166"}
                Use
                the calculator on this page to better understand your P&amp;L during the life
                of your merchant cash advance.
            %b{:style => "mso-bidi-font-weight:normal"}
              %span{:style => "font-size:10.5pt;font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
                %o:p
          %p.MsoNormal{:style => "text-align:justify;text-justify:inter-ideograph;\nline-height:150%"}
            %span{:style => "font-family:Helvetica;color:#595959;mso-themecolor:\ntext1;mso-themetint:166"}
              %o:p &nbsp;
      .col-md-6.form-style{style: "margin-bottom: 0px; padding-left: 10px;"}
        %h3.form-header Cash Advance Profit Calculator
        = form_for @profitability, class: "new_profitability", id: "new_profitability" do |f|
          - if @profitability.errors.any?
            %div{class: "alert alert-danger"}
              %ul
                - @profitability.errors.each do |attr, error|
                  %li= error
          %div{style: "margin:0;padding:0;display:inline"}
          - if_error = @profitability.errors.include?(:monthly_cash_collection_amount) ? 'has-error' : ''
          %div{class: "form_group #{return_error_class(@profitability, :monthly_cash_collection_amount)}"}
            %label{class: "control-label", :for => :monthly_cash_collection_amount} 
              How much money does your business earn each<br/> month before you pay the bills?

            = f.text_field :monthly_cash_collection_amount,
                          value: number_with_precision((@saved_profitability ? @saved_profitability.monthly_cash_collection_amount : '$50000'), :precision => 0), maxlength: "9", min: "1",
                          class: "text-center form-control ", required: true
          - if_error = @profitability.errors.include?(:total_monthly_bills) ? 'has-error' : ''
          %div{class: "form_group #{return_error_class(@profitability, :total_monthly_bills)}"}    
            %label{class: "control-label", :for => :total_monthly_bills}
              How much are your total monthly bills?
            = f.text_field :total_monthly_bills,
                          value: number_with_precision((@saved_profitability ? @saved_profitability.total_monthly_bills : '$40000'), :precision => 0), maxlength: "9", min: "1",
                          class: "text-center form-control", required: true
          - if_error = @profitability.errors.include?(:daily_merchant_cash_advance) ? 'has-error' : ''
          %div{class: "form_group #{return_error_class(@profitability, :daily_merchant_cash_advance)}"}
            %label{class: "control-label", :for => :daily_merchant_cash_advance} 
              How much is your current merchant <br/>cash advance company collecting daily?
            = f.text_field :daily_merchant_cash_advance, value: (@saved_profitability ? @saved_profitability.daily_merchant_cash_advance : '$280'),
            class: "text-center form-control", required: true

            .actions
              = f.submit "GET RESULTS", class: "btn btn-primary btn-lg btn-lg btn-block green-btn", id: "hidden_button" 


    - if @saved_profitability
      .main_body.no-form.result-box.container{style: "padding: 10px;"}
        .col-md-8.col-md-offset-2.form-style
          %h3 Your gross profit margin is
          %h2.text-green= number_to_percentage @saved_profitability.gross_profit_margin*100, precision: 1
          %br/

          %h3 Your projected monthly profit is
          %h2.text-green{class: ("text-red" if @saved_profitability.projected_monthly_profit < 0)}= number_to_currency @saved_profitability.projected_monthly_profit, precision: 0
          %br/

          - if @saved_profitability.projected_monthly_profit < 0
            - if @saved_profitability.total_month_fully_profitable_again != -1
              %h3 Below is the total number of months it will take for you to be fully profitable again
              %h2.text-green{class: ("text-red" if @saved_profitability.projected_monthly_profit < 0)}= @saved_profitability.total_month_fully_profitable_again
              %br/

            = link_to "CLICK HERE TO GET A BETTER DEAL", "/signup", class: "btn btn-primary  btn-lg btn-block teal-btn", id: "btnClickHere"
