%p#notice= notice

%p
  %b Daily cash collection amount:
  = @profitability.daily_cash_collection_amount
%p
  %b Gross profit margin:
  = @profitability.gross_profit_margin
%p
  %b Projected daily profit:
  = @profitability.projected_daily_profit

= link_to 'Edit', edit_profitability_path(@profitability)
\|
= link_to 'Back', profitabilities_path
