#benefits.homepage-fluid-container.container-gray
  .homepage-container
    .benefits
      .benefits-header
        %span 
          = _('Benefits')
      .benefits-body
        .benefits-body-row-green.clearfix
          .benefits-body-row-green-number
            = image_tag("homepage_green1.gif")
          .benefits-body-row-green-image
            = image_tag("homepage_green_main.gif")
          .benefits-body-row-green-information
            .benefits-body-row-green-information-block
              %span.benefits-body-row-green-information-block-text
                = _('Save an Average of') 
                %span.highlight-green
                  = _('$5,000 ') 
                = _('vs Dealing with Retail Brokers.')
              .benefits-body-row-green-information-block-arrow
                = image_tag("homepage_arrow.gif")
        .benefits-body-row-blue.clearfix
          .benefits-body-row-blue-number
            = image_tag("homepage_blue2.gif")
          .benefits-body-row-blue-image
            = image_tag("homepage_blue_main.gif")
          .benefits-body-row-blue-information
            .benefits-body-row-blue-information-block
              %span.benefits-body-row-blue-information-block-text
                = _('Save an Average of ')
                %span.highlight-blue
                  = _('7 Days Worth ') 
                = _('of Time in Securing Funding.')
              .benefits-body-row-blue-information-block-arrow
                = image_tag("homepage_arrow.gif")
        .benefits-body-row-orange.clearfix
          .benefits-body-row-orange-number
            = image_tag("homepage_orange3.gif")
          .benefits-body-row-orange-image
            = image_tag("homepage_orange_main.gif")
          .benefits-body-row-orange-information
            .benefits-body-row-orange-information-block
              %span.benefits-body-row-orange-information-block-text
                = _('Save') 
                %span.highlight-orange
                  = _('FICO Points ') 
                = _('by Avoiding Excessive Credit Checks.')
      .benefits-action-bar
        .benefits-action-bar-group.clearfix
          .benefits-action-bar-group-financed
            %a.flat-button.button-get-financed{href: "/signup?is_funding=true"}
              %span 
                = _('Get New Deal')
          .benefits-action-bar-group-refinance
            %a.flat-button.button-get-refinance{href: "/signup.html?is_refinance=true"}
              %span 
                = _('ReNew Current Deal')
          