#benefits.homepage-fluid-container.container-gray
  .homepage-container
    .benefits
      .benefits-header
        %span Benefits
      .benefits-body
        .benefits-body-row-green.clearfix
          .benefits-body-row-green-number
            = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_59/homepage_green1_dt7bes.gif")
          .benefits-body-row-green-image
            = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_203/homepage_green_main_wrfq1s.gif")
          .benefits-body-row-green-information
            .benefits-body-row-green-information-block
              %span.benefits-body-row-green-information-block-text
                Save an Average of 
                %span.highlight-green
                  $5,000 
                vs Dealing with Retail Brokers.
              .benefits-body-row-green-information-block-arrow
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,h_16,w_26/homepage_arrow_jklbvn.gif")
        .benefits-body-row-blue.clearfix
          .benefits-body-row-blue-number
            = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_59/homepage_blue2_mu1wjm.gif")
          .benefits-body-row-blue-image
            = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_203/homepage_blue_main_u4gnlo.gif")
          .benefits-body-row-blue-information
            .benefits-body-row-blue-information-block
              %span.benefits-body-row-blue-information-block-text
                Save an Average of 
                %span.highlight-blue
                  7 Days Worth  
                of Time in Securing Funding.
              .benefits-body-row-blue-information-block-arrow
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,h_16,w_26/homepage_arrow_jklbvn.gif")
        .benefits-body-row-orange.clearfix
          .benefits-body-row-orange-number
            = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_59/homepage_orange3_qom6cv.gif")
          .benefits-body-row-orange-image
            = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_203/v1406848901/homepage_orange_main_llozzu.gif")
          .benefits-body-row-orange-information
            .benefits-body-row-orange-information-block
              %span.benefits-body-row-orange-information-block-text
                Save 
                %span.highlight-orange
                  FICO Points 
                by Avoiding Excessive Credit Checks.
      .benefits-action-bar
        .benefits-action-bar-group.clearfix
          .benefits-action-bar-group-financed
            %a.flat-button.button-get-financed{href: "/signup?is_funding=true"}
              %span Get New Deal
          .benefits-action-bar-group-refinance
            %a.flat-button.button-get-refinance{href: "/signup.html?is_refinance=true"}
              %span ReVise Current Deal
          