#dialer_faq.dialer-fluid-white
  .dialer-section
    .dialer-section-header
      %span FAQ
    .dialer-section-faq
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.png")
          .dialer-section-faq-item-header-text
            %span What is Buynance?
        .dialer-section-faq-item-text
          %span Buynance is the fastest way to use your future sales to pay for the things your business needs now.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_two.png")
          .dialer-section-faq-item-header-text
            %span How much can I get?
        .dialer-section-faq-item-text
          %span Up to $250,000 in 2-3 days.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_three.png")
          .dialer-section-faq-item-header-text
            %span What types of businesses qualify?
        .dialer-section-faq-item-text
          %span Any business type qualifies with the exception of adult businesses, gun shops, gas stations, and any type of business where you earn money from commission.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_four.png")
          .dialer-section-faq-item-header-text
            %span How is this different from a loan?
        .dialer-section-faq-item-text
          %span You’re selling us a portion of your future sales at a discount.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_five.png")
          .dialer-section-faq-item-header-text
            %span What is the interest rate?
        .dialer-section-faq-item-text
          %span There is no interest rate because we do not issue loans. However, the discount rate we will purchase your sales at will vary based on how well your business performs.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_six.png")
          .dialer-section-faq-item-header-text
            %span How is the money paid back?
        .dialer-section-faq-item-text
          %span You will pay back the money in one of two ways; either through regular debits made to your small business checking account, or, automatically from each credit or debit card transaction.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_seven.png")
          .dialer-section-faq-item-header-text
            %span Can I take money from Buynance and get funding elsewhere?
        .dialer-section-faq-item-text
          %span Absolutely – most business owners usually do.