#dialer_faq.dialer-fluid-white
  .dialer-section
    .dialer-section-header
      %span FAQ
    .dialer-section-faq
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.png")
          .dialer-section-faq-item-header-text
            %span How much can I get?
        .dialer-section-faq-item-text
          %span Up to $25,000 in an hour.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_two.png")
          .dialer-section-faq-item-header-text
            %span What type of businesses qualify?
        .dialer-section-faq-item-text
          %span Any business type qualifies with the exception of adult businesses, gun shops, gas stations, and any type of business where you earn money from commission.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_three.png")
          .dialer-section-faq-item-header-text
            %span How is this different from a loan?
        .dialer-section-faq-item-text
          %span You’re selling us a portion of your future sales at a discount. 
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_four.png")
          .dialer-section-faq-item-header-text
            %span What is the interest rate?
        .dialer-section-faq-item-text
          %span There is no interest rate because we do not issues loans.  However, the discount rate we will purchase your sales at will vary based on how well your business performs.  
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_five.png")
          .dialer-section-faq-item-header-text
            %span Can I take money from Buynance and get funding elsewhere?
        .dialer-section-faq-item-text
          %span Absolutely – most business owners usually do.  