#how-works.homepage-wrapper.fluid-row
  .jcarousel
    %ul
      %li
        .how-works
          .how-works-header
            .how-works-header-top
              %span 
                = _('How this Works')
            .how-works-header-bottom
              %span 
                = _('Get Financed')
          .how-works-steps
            .how-works-steps-step1
              .how-works-steps-step1-image
                = image_tag("homepage_step1.jpg")        
            .how-works-steps-step2
              .how-works-steps-step2-image
                = image_tag("homepage_step2.jpg")        
            .how-works-steps-step3
              .how-works-steps-step3-image
                = image_tag("homepage_step3.jpg")        
          .how-works-information.clearfix
            .how-works-information-step1
              %span 
                = _('Sign Up & Tell Us a Bit About Your Business')
            .how-works-information-step2
              %span 
                = _('View Offers')
            .how-works-information-step3
              %span 
                = _('Select the One That Works Best For You')
      %li
        .how-works
          .how-works-header
            .how-works-header-top
              %span 
                =_('How this Works')
            .how-works-header-bottom
              %span 
                = _('ReNew')
          .how-works-steps
            .how-works-steps-step1
              .how-works-steps-step1-image
                = image_tag("refi-1.png")        
            .how-works-steps-step2
              .how-works-steps-step2-image
                = image_tag("refi-2.png")        
            .how-works-steps-step3
              .how-works-steps-step3-image
                = image_tag("refi-3.png")        
          .how-works-information
            .how-works-information-step1
              %span 
                = _('We Analyze Your Current Loan')
            .how-works-information-step2
              %span 
                = _('Funders Present New Terms')
            .how-works-information-step3
              %span 
                = _('Get a Reduced Daily Payment or Interest Rate')


  
  %a.jcarousel-control-prev{href:"#"} 
    %span ‹
  %a.jcarousel-control-next{href:"#"} 
    %span ›
  /.jcarousel-pagination
  /  %a{href:'#1'}
  /  %a{href:'#2'}

