#how-works.homepage-wrapper.fluid-row
  .jcarousel
    %ul
      %li
        .how-works
          .how-works-header
            .how-works-header-top
              %span How this Works
            .how-works-header-bottom
              %span Get New Deal
          .how-works-steps
            .how-works-steps-step1
              .how-works-steps-step1-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_113/homepage_step1_lukexq.jpg")        
            .how-works-steps-step2
              .how-works-steps-step2-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_113/homepage_step2_ld7ysh.jpg")        
            .how-works-steps-step3
              .how-works-steps-step3-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/c_scale,w_113/homepage_step3_ceoq2z.jpg")        
          .how-works-information.clearfix
            .how-works-information-step1
              %span Sign Up & Tell Us a Bit About Your Business
            .how-works-information-step2
              %span View Offers
            .how-works-information-step3
              %span Select the One That Works Best For You
      %li
        .how-works
          .how-works-header
            .how-works-header-top
              %span How this Works
            .how-works-header-bottom
              %span ReNew Current Deal
          .how-works-steps
            .how-works-steps-step1
              .how-works-steps-step1-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/refi-1_sz8ysc.png")        
            .how-works-steps-step2
              .how-works-steps-step2-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/refi-2_sqr8ff.png")        
            .how-works-steps-step3
              .how-works-steps-step3-image
                = image_tag("https://res.cloudinary.com/buynance/image/upload/refi-3_lbbi79.png")        
          .how-works-information
            .how-works-information-step1
              %span We Analyze Your Current Loan
            .how-works-information-step2
              %span Funders Present New Terms
            .how-works-information-step3
              %span Get a Reduced Daily Payment or Interest Rate


  
  %a.jcarousel-control-prev{href:"#"} 
    %span ‹
  %a.jcarousel-control-next{href:"#"} 
    %span ›
  /.jcarousel-pagination
  /  %a{href:'#1'}
  /  %a{href:'#2'}

