 Shapshot of the Business
 
- if @business.qualified_for_funder? 
   Type of Funding: Funder
- elsif @business.qualified_for_refi? 
   Type of Funding: Refinancing
- elsif @business.qualified_for_market? 
   Type of Funding: Broker Market
  
 Basic Information
 --------------------------------------------------- 
 Email: ==#{@business.business_user.email}
 First Name: ==#{@business.owner_first_name}
 Last Name: ==#{@business.owner_last_name}
 Business Name: ==#{@business.name}
 Phone Number: ==#{@business.phone_number}
 Mobile Number: ==#{@business.mobile_number}
 Address 1: ==#{@business.street_address_one}
 Address 2: ==#{@business.street_address_two}
 City: ==#{@business.city}
 State: ==#{@business.location_state}
 Zip Code: ==#{@business.zip_code}
 BusinessType ==#{BusinessType.find(@business.business_type_id).name}
 ----------------------------------------------------

 Financial Information
 ----------------------------------------------------
 Approximate Credit Score: ==#{@business.get_credit_score_label(@business.approximate_credit_score_range)}
 Tax Lien? ==#{@business.is_tax_lien}
 Bancruptcy? ==#{@business.is_ever_bankruptcy}
 Judgements? ==#{@business.is_judgement}
 ----------------------------------------------------

 Bank Information
 ---------------------------------------------------- 
 Institution Name: ==#{@business.bank_account.institution_name}
 Average Balance: ==#{@business.bank_account.average_balance}
 Available Balance: ==#{@business.bank_account.available_balance}
 Current Balance: ==#{@business.bank_account.current_balance}
 Average Balance Last Month: ==#{@business.bank_account.average_recent_balance}
 Total Number of Credit Transactions: ==#{@business.bank_account.total_credit_transactions}
 Total Number of Debit Transactions: ==#{@business.bank_account.total_debit_transactions}
 Total Number of Days for Transactions: ==#{@business.bank_account.days_of_transactions}
 Deposit Amount One Month Ago: ==#{@business.bank_account.deposits_one_month_ago}
 Deposit Amount Two Months Ago: ==#{@business.bank_account.deposits_two_months_ago}
 Deposit Amount Three Months Ago: ==#{@business.bank_account.deposits_three_months_ago}
 Average Balance One Month Ago: ==#{@business.bank_account.average_balance_one_month_ago}
 Average Balance Two Months Ago: ==#{@business.bank_account.average_balance_two_months_ago}
 Average Balance Three Months Ago: ==#{@business.bank_account.average_balance_three_months_ago}
 ----------------------------------------------------

-if @business.is_refinance
   Current Funder Information
   ----------------------------------------------------
   Deal Type: ==#{@business.get_deal_type_label(@business.deal_type)}
   Current Funder: ==#{CashAdvanceCompany.find(@business.previous_merchant_id).name}
   Loan Start Date: ==#{@business.previous_loan_date}
   Loan Amount: ==#{@business.total_previous_loan_amount}
   Payback Amount: ==#{@business.total_previous_payback_amount}
   Current Balance: ==#{@business.total_previous_payback_balance}
   Closing Fee?: ==#{@business.is_closing_fee}
   Closing Fee Amount: ==#{@business.closing_fee}
   ----------------------------------------------------