%p Shapshot of the Business
%p 
- if @business.qualified_for_funder? 
  %p Type of Funding: Funder
- elsif @business.qualified_for_refi? 
  %p Type of Funding: Refinancing
- elsif @business.qualified_for_market? 
  %p Type of Funding: Broker Market
%p  
%p Basic Information
%p --------------------------------------------------- 
%p Email: ==#{@business.business_user.email}
%p First Name: ==#{@business.owner_first_name}
%p Last Name: ==#{@business.owner_last_name}
%p Business Name: ==#{@business.name}
%p Phone Number: ==#{@business.phone_number}
%p Mobile Number: ==#{@business.mobile_number}
%p Address 1: ==#{@business.street_address_one}
%p Address 2: ==#{@business.street_address_two}
%p City: ==#{@business.city}
%p State: ==#{@business.location_state}
%p Zip Code: ==#{@business.zip_code}
%p BusinessType ==#{BusinessType.find(@business.business_type_id).name}
%p ----------------------------------------------------
%p
%p Financial Information
%p ----------------------------------------------------
%p Approximate Credit Score: ==#{@business.get_credit_score_label(@business.approximate_credit_score_range)}
%p Tax Lien? ==#{@business.is_tax_lien}
%p Bancruptcy? ==#{@business.is_ever_bankruptcy}
%p Judgements? ==#{@business.is_judgement}
%p ----------------------------------------------------
%p
%p Bank Information
%p ---------------------------------------------------- 
%p Institution Name: ==#{@business.bank_account.institution_name}
%p Average Balance: ==#{@business.bank_account.average_balance}
%p Available Balance: ==#{@business.bank_account.available_balance}
%p Current Balance: ==#{@business.bank_account.current_balance}
%p Average Balance Last Month: ==#{@business.bank_account.average_recent_balance}
%p Total Number of Credit Transactions: ==#{@business.bank_account.total_credit_transactions}
%p Total Number of Debit Transactions: ==#{@business.bank_account.total_debit_transactions}
%p Total Number of Days for Transactions: ==#{@business.bank_account.days_of_transactions}
%p Deposit Amount One Month Ago: ==#{@business.bank_account.deposits_one_month_ago}
%p Deposit Amount Two Months Ago: ==#{@business.bank_account.deposits_two_months_ago}
%p Deposit Amount Three Months Ago: ==#{@business.bank_account.deposits_three_months_ago}
%p Average Balance One Month Ago: ==#{@business.bank_account.average_balance_one_month_ago}
%p Average Balance Two Months Ago: ==#{@business.bank_account.average_balance_two_months_ago}
%p Average Balance Three Months Ago: ==#{@business.bank_account.average_balance_three_months_ago}
%p ----------------------------------------------------
%p
-if @business.is_refinance
  %p Current Funder Information
  %p ----------------------------------------------------
  %p Deal Type: ==#{@business.get_deal_type_label(@business.deal_type)}
  %p Current Funder: ==#{CashAdvanceCompany.find(@business.previous_merchant_id).name}
  %p Loan Start Date: ==#{@business.previous_loan_date}
  %p Loan Amount: ==#{@business.total_previous_loan_amount}
  %p Payback Amount: ==#{@business.total_previous_payback_amount}
  %p Current Balance: ==#{@business.total_previous_payback_balance}
  %p Closing Fee?: ==#{@business.is_closing_fee}
  %p Closing Fee Amount: ==#{@business.closing_fee}
  %p ----------------------------------------------------

