You have a new representative signup
.....................................................
Signup Time - #{@rep_dialer.created_at.strftime("%m/%d/%Y %I:%M%p")}
Name - #{@rep_dialer.name} 
Profile URL - #{@rep_dialer.profile_url}
Email - #{@rep_dialer.email}
Referal Code -  #{@rep_dialer.referral_code}
Mobile Number - #{@rep_dialer.mobile_number}