<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new user has signed up with buynance</h1>
    <p>
      Snapshot:
    </p>
    <p>------------------------------------</p>
    <p> Email: <%=@business.email %></p>
    <p> How much did you earn last month: <%=@business.earned_one_month_ago %> </p>
    <p> How much did you earn two months ago: <%=@business.earned_two_months_ago %> </p>
    <p> How much did you earn three months ago: <%=@business.earned_three_months_ago %> </p>
    <p>------------------------------------</p>
    <p> Offer Amount: <%=@offer.cash_advance_amount %> </p>
    <p> Daily Payback: <%=@offer.daily_merchant_cash_advance %></p>
    <p> Days to Collect: <%=@offer.days_to_collect %></p>
    <p> Total Payback Amount: <%=@offer.total_payback_amount %></p> 
    <p> Factor Rate: <%=@offer.factor_rate %></p>
    <p>------------------------------------</p>
    <p> Paying Merhcant Cash Advance? <%=@business.is_paying_back %></p>
    <p> Approximate Credit Score: <%=@business.approximate_credit_score_range %></p>
    <p> Tax Liens? <%=@business.is_tax_lien %></p>
    <p> Payment Plan? <%=@business.is_payment_plan %></p>
    <p> Bankruptcy? <%=@business.is_ever_bankruptcy %></p>
    <p> Average daily balance bank account: <%=@business.average_daily_balance_bank_account %></p>
    <p> How many times negative? <%=@business.amount_negative_balance_past_month %></p>
</html>