<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A user has accepted an offer up with buynance</h1>
    <p>
      Snapshot: 
    </p>
    <p> Email: <%=@business.email %></p>
    <p> First Name: <%=@business.owner_first_name %> </p>
    <p> Last Name: <%=@business.owner_last_name %></p>
    <p> Business Name: <%=@business.name %></p>
    <p> Phone Number: <%=@business.phone_number %></p> 
    <p> Mobile Number: <%=@business.mobile_number %></p>
    <p>------------------------------------</p>
    <p> Tax Liens? <%=@business.is_tax_lien %></p>
    <p> Payment Plan? <%=@business.is_payment_plan %></p>
    <p> Bankruptcy? <%=@business.is_ever_bankruptcy %></p>
</html>