#dialer_benefits.dialer-fluid
  .dialer-section.dialer-benefits
    .dialer-section-header.highlight-green
      %span Benefits
    .dialer-section-sequence
      %table.tg{:style => "undefined;table-layout: fixed; width: 90.0em"}
        %colgroup
          %col{:style => "width: 30.0em"}/
          %col{:style => "width: 7.5em"}/
          %col{:style => "width: 19.0em"}/
          %col{:style => "width:  4.5em"}/
          %col{:style => "width: 29.0em"}/
        %tr.dialer-section-sequence-images
          %th.tg-wm6t
            = image_tag("green_one.jpg")
          %th.tg-rd2y
          %th.tg-031e
            = image_tag("green_two.jpg")
          %th.tg-031e
          %th.tg-031e
            = image_tag("green_three.jpg")
        %tr.dialer-section-sequence-images
          %td.squence-images-main
            = image_tag("dialer_benefit_image_1.jpg", style: "width: 26.5em; height: 12.8em;")
          %td.tg-rd2y
            = image_tag("green_arrow.jpg", style: "width: 1.1em; height: 1.8em;")
          %td.squence-images-main
            = image_tag("dialer_benefit_image_2.jpg", style: "width: 18.1em; height: 6.4em;")
          %td.tg-031e
            = image_tag("green_arrow.jpg", style: "width: 1.1em; height: 1.8em;")
          %td.squence-images-main
            = image_tag("dialer_benefit_image_3.jpg", style: "width: 14.1em; height: 9.8em;")
        %tr.dialer-section-sequence-text.highlight-green
          %td.tg-wm6t
            %span Win hourly, daily, weekly, and monthly bonuses.  
          %td.tg-rd2y
          %td.tg-031e
            %span Set your own hours, be your own boss.
          %td.tg-031e
          %td.tg-031e
            %span Access to our Friends only forum for tips and tricks on how to get better.
    - unless rep_dialer_signed_in?
      .dialer-benefit-linkedin
        = link_to rep_dialer_omniauth_authorize_path(provider: "linkedin"), method: :post do
          = image_tag("dialer_linkedin_signin.png", style: "width:26.8em;height:6.5em;")
