#dialer_faq.dialer-fluid-gray
  .dialer-section
    .dialer-section-header
      %span FAQ
    .dialer-section-faq
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.png")
          .dialer-section-faq-item-header-text
            %span How exactly does this work?
        .dialer-section-faq-item-text
          %span Once your application is approved, you will be invited to participate in one of our ongoing prep sessions.  Following training, you will be given access to our platform along with your unique FOB (Friend of Buynance) ID#.  At your leisure, you will log in and initiate conversations with business owners through our power dialer system.  When you reach out to business owners, you will help them apply on the spot, or schedule a time to call them back using your unique ID#.  With your guidance, at the completion of their application, you will receive $100 each time within 60-90 seconds to your PayPal account. 
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_two.png")
          .dialer-section-faq-item-header-text
            %span Do I have to keep set hours?
        .dialer-section-faq-item-text
          %span Nope!  However, we do run set hours of operation. 
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_three.png")
          .dialer-section-faq-item-header-text
            %span How many hours can I work?
        .dialer-section-faq-item-text
          %span As many or as few as you’d like.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_four.png")
          .dialer-section-faq-item-header-text
            %span Is there training?
        .dialer-section-faq-item-text
          %span Yes.  However, we believe in making things super simple.  Everything from our site, to processes and procedures have been set up so that you can spend less time learning, and more time doing.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_five.png")
          .dialer-section-faq-item-header-text
            %span What tools will I need?
        .dialer-section-faq-item-text
          %span A reliable computer and internet connection.  A land-line telephone is preferred but not required if you only have a cell phone.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_six.png")
          .dialer-section-faq-item-header-text
            %span How much does it cost? 
        .dialer-section-faq-item-text
          %span Zero
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_seven.png")
          .dialer-section-faq-item-header-text
            %span How do I get leads?
        .dialer-section-faq-item-text
          %span We supply you with leads to engage with via our dialer.  You also have the option of working with business owners in your community.  Marketing collateral will be provided if you choose this option.  If you currently have relationships with business owners, we can supply you with a unique link so that when you e-mail them, and they click, they are tracked to ensure that not only you are paid, but also that you are able to get them on the phone to help them through the site.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_eight.png")
          .dialer-section-faq-item-header-text
            %span Can I bring my own referrals in?
        .dialer-section-faq-item-text
          %span Certainly, you will be given a unique 4 character ID you can use to share on your business cards, conversations, e-mail signatures, or whatever means reasonable.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_nine.png")
          .dialer-section-faq-item-header-text
            %span When can I start?  
        .dialer-section-faq-item-text
          %span If you apply before noon on any given business day, we can get you up and running by 9 a.m. the following business day.                                            


      