#dialer_faq.dialer-fluid-gray
  .dialer-section
    .dialer-section-header
      %span FAQ
    .dialer-section-faq
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.gif")
          .dialer-section-faq-item-header-text
            %span How exactly does this works?
        .dialer-section-faq-item-text
          %span Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer. Here The Answer.                                        


      