#dialer_work.dialer-fluid
  .dialer-section
    .dialer-section-header.highlight-blue
      %span How Does This Work?
    .dialer-section-sequence
      %table.tg{:style => "undefined;table-layout: fixed; width: 90.0em"}
        %colgroup
          %col{:style => "width: 20.5em"}/
          %col{:style => "width: 12.0em"}/
          %col{:style => "width: 20.5em"}/
          %col{:style => "width:  8.0em"}/
          %col{:style => "width: 29.0em"}/
        %tr.dialer-section-sequence-images
          %th.tg-wm6t
            = image_tag("blue_one.png")
          %th.tg-rd2y
          %th.tg-031e
            = image_tag("blue_two.png")
          %th.tg-031e
          %th.tg-031e
            = image_tag("blue_three.png")
        %tr.dialer-section-sequence-images
          %td.squence-images-main
            = image_tag("dialer_how_image_1.jpg", style: "width: 17.9em; height: 8.4em;")
          %td.tg-rd2y
            = image_tag("blue_arrow.jpg", style: "width: 1.1em; height: 1.8em;")
          %td.dialer-section-sequence-images-offset.squence-images-main
            = image_tag("dialer_how_image_2.jpg", style: "width: 13.7em; height: 9.5em;")
          %td.tg-031e
            = image_tag("blue_arrow.jpg", style: "width: 1.1em; height: 1.8em;")
          %td.squence-images-main
            = image_tag("dialer_how_image_3.jpg", style: "width: 7.7em; height: 6.9em;")
        %tr.dialer-section-sequence-text.highlight-blue
          %td.tg-wm6t
            %span Sign up using LinkedIn. Use the same e-mail address for your PayPal account.
          %td.tg-rd2y
          %td.tg-031e
            %span Receive training materials, calling data, and an optional Buynance email address.
          %td.tg-031e
          %td.tg-031e
            %span Reach out to business owners to offer them same day, no credit check small business funding, and watch your PayPal account grow.