= render "family_dashboards/home/banner"
= render "family_dashboards/home/what_we_do"
= render "family_dashboards/home/how_you_can_help"
= render "family_dashboards/home/how_does_this_work"
/ = render "family_dashboards/home/benefits"
= render "family_dashboards/home/faq"