.web_body
  .paper-section.dialer-section-questionnaire
    .paper-section-header
      %span Additional Information
    .paper-section-main.clearfix   
      .paper-section-main-sheet.first-paper-section.clearfix
        .paper-section-main-sheet.last-paper-section
          .paper-section-bank-login.row
            .paper-section-regular
              .paper-section-regular-header
                %span To get to know you better.
              .paper-section-regular-body
                .paper-section-regular-body-info
                  %span To get to know you better please take some time to complete the following questionnaire. 
                .paper-section-regular-body-info
                  = simple_form_for @questionnaire, url: questionnaire_action_family_dashboards_path do |f|
                    - if @questionnaire.errors.any? || @rep_dialer.errors.any?
                      %div{class: "alert alert-danger validation-errors"}
                        %ol{style: "list-style: decimal; padding-left: 20px"}
                          - @rep_dialer.errors.full_messages.each do |msg|
                            %li{style: "font-size: 15px; line-height: 1.5"}= msg
                          - @questionnaire.errors.full_messages.each do |msg|
                            %li{style: "font-size: 16px; line-height: 1.5"}= msg
                    - (0...@questionnaire.questions.size).each do |i|
                      .form-label.dialer-setup-form-label
                        %span #{i+1}. #{@questionnaire.questions[i].question_text}
                      .form-input.dialer-setup-form-input
                        = f.input "answer#{i+1}",  as: :text, input_html: {class: 'textbox'}, label: false, error: false
                    = fields_for @rep_dialer do |rep_dialer_fields|
                      .form-label.dialer-setup-form-label
                        %span Mobile Number
                      .form-input.dialer-setup-form-input
                        = rep_dialer_fields.text_field :mobile_number, placeholder: 'Mobile Number', class: 'textbox form-control required email', label: false

                    .form-action.dialer-setup-form-action
                      = f.submit "Continue", class: "form-button flat-button button-submit"