#dialer_faq.dialer-fluid-gray
  .dialer-section
    .dialer-section-header
      %span FAQ
    .dialer-section-faq
      .dialer-section-faq-item.family-faq-1
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.png")
          .dialer-section-faq-item-header-text
            %span How do I apply?
        .dialer-section-faq-item-text
          %span Click on the BLUE LinkedIn button above.  Complete the questionnaire and wait for the good news!
      .dialer-section-faq-item.family-faq-2
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_two.png")
          .dialer-section-faq-item-header-text
            %span Do I have to have a LinkedIn account?
        .dialer-section-faq-item-text
          %span Yes.  LinkedIn is an online representation of your professional resume.  You will come to learn that LinkedIn will prove to be a valuable tool in sourcing and connecting with business owners for the purposes of lead generation.  
      .dialer-section-faq-item.family-faq-3
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_three.png")
          .dialer-section-faq-item-header-text
            %span When can I start?
        .dialer-section-faq-item-text
          %span After you have completed the questionnaire and we have accepted you (not all will be accepted), you will be issued a challenge.  When you complete the challenge, you’re in.  
      .dialer-section-faq-item.family-faq-4
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_four.png")
          .dialer-section-faq-item-header-text
            %span Do I have to keep set hours?
        .dialer-section-faq-item-text
          %span The goal we set for you is to earn for yourself; $100k in 9 months.  To achieve that goal you will have to work your rear off for it. 
      .dialer-section-faq-item.family-faq-5
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_five.png")
          .dialer-section-faq-item-header-text
            %span Is there training?
        .dialer-section-faq-item-text
          %span Absolutely.  Not only will you be trained on how to get deals done, but how to market for yourself so that after the 9th month, you leave with a book of business and most importantly, confidence.   
      .dialer-section-faq-item.family-faq-6
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_six.png")
          .dialer-section-faq-item-header-text
            %span How do I get leads?
        .dialer-section-faq-item-text
          %span Those of you who are accepted in will start off like everyone in this business has – on the dialers.   However, we will train you on systems that are designed to get you on the groove path to getting your own inbound leads and off the dialers at your own pace.  Based on performance, some of you will have the option of receiving our inbound leads to work to a close.   
      .dialer-section-faq-item.family-faq-7
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_seven.png")
          .dialer-section-faq-item-header-text
            %span Can I have people under me?
        .dialer-section-faq-item-text
          %span Certainly.  However, it will be at your own expense.  We have some methods we will show you as to how you can use personal virtual assistant labor for less than $150 per week to achieve a fantastic ROI.
      .dialer-section-faq-item.family-faq-8
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_eight.png")
          .dialer-section-faq-item-header-text
            %span Do I get my own e-mail address?
        .dialer-section-faq-item-text
          %span When you are accepted in, you have the option of taking an official Buynance e-mail address.  