#dialer_faq.dialer-fluid-gray
  .dialer-section
    .dialer-section-header
      %span FAQ
    .dialer-section-faq
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_one.png")
          .dialer-section-faq-item-header-text
            %span Do I have to keep set hours?
        .dialer-section-faq-item-text
          %span The goal we set for you is to earn for yourself; $100k in 9 months.  To achieve that goal you will have to work your rear off for it. 
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_two.png")
          .dialer-section-faq-item-header-text
            %span Is there training?
        .dialer-section-faq-item-text
          %span Absolutely.  Not only will you be trained on how to get deals done, but how to market for yourself so that after the 9th month, you leave with a book of business and most importantly, confidence.  
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_three.png")
          .dialer-section-faq-item-header-text
            %span How do I get leads?
        .dialer-section-faq-item-text
          %span You will get access to our dialers.  That’s not all.  We will train you on a system that is designed to after 6 months, get you on the groove path to getting your own inbound leads.  Our organic inbound leads will be distributed on a performance basis.  The more you make… the more you make.  
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_four.png")
          .dialer-section-faq-item-header-text
            %span Can I have people under me?
        .dialer-section-faq-item-text
          %span Certainly.  However, it will be at your own expense.  We have some methods we will show you as to how you can use personal virtual assistant labor for less than $150 per week to achieve a fantastic ROI.
      .dialer-section-faq-item
        .dialer-section-faq-item-header.clearfix
          .dialer-section-faq-item-header-number
            = image_tag("gray_five.png")
          .dialer-section-faq-item-header-text
            %span When can I start?
        .dialer-section-faq-item-text
          %span a. After individual interviews and group training, you should be ready to fly!