.web_body
  .paper-section
    .paper-section-header
      Tell us a bit about your business...
    .paper-section-top
    .paper-section-body.paper-section-bank-login.row
      .paper-section-bank-login-left.col-xs-7
        .paper-section-bank-login-left-header
          %span Personal Information
        .paper-section-bank-login-form
          = simple_form_for @business, url: wizard_path do |f|
            - if @business.errors.any? and !(@business.errors[:mobile_disclaimer] and @business.errors.keys.length == 1)
              %div{class: "alert alert-danger"}
                %ul
                  - @business.errors.full_messages.each do |msg|
                    - if msg != "na"
                      %li= msg 
            .paper-section-bank-login-form-label
              %span What is the owner's first name?
            .paper-section-bank-login-form-input
              = f.input :owner_first_name, placeholder: 'First Name', input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is the owner's last name?
            .paper-section-bank-login-form-input
              = f.input :owner_last_name, placeholder: 'Last Name', input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is the business address line 1?
            .paper-section-bank-login-form-input
              = f.input :street_address_one, placeholder: "Address Line 1", input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is your business address line 2?
            .paper-section-bank-login-form-input
              = f.input :street_address_two, placeholder: "Address Line 2", input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is your business city?
            .paper-section-bank-login-form-input
              = f.input :city, placeholder: "City", input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is your business state?
            .paper-section-bank-login-form-input
              = f.input :location_state, include_blank: "State", as: :select, collection: us_states, input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is your zip code?
            .paper-section-bank-login-form-input
              = f.input :zip_code, placeholder: "Zip Code", input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is your business phone number?
            .paper-section-bank-login-form-input
              = f.input :phone_number, placeholder: "Phone Number", input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What is your mobile number?
            .paper-section-bank-login-form-input
              = f.input :mobile_number, placeholder: "Mobile Phone Number", input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span What type of business do you own?
            .paper-section-bank-login-form-input
              = f.input :business_type_id, include_blank: '', :as => :select, collection: BusinessType.all, label_method: :name, value_method: :id,  input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-bank-login-form-label
              %span How many years have you been in business?
            .paper-section-bank-login-form-input
              = f.input :years_in_business, include_blank: '', :as => :select, collection: [["0" , 0], ["1" , 1], ["2" , 2], ["3" , 3], ["4" , 4], ["5" , 5], ["6" , 6], ["7" , 7], ["8" , 8], ["9" , 9], ["10" , 10], ["11" , 11], ["12" , 12], ["13" , 13], ["14" , 14], ["15" , 15], ["16" , 16], ["17" , 17], ["18" , 18], ["19" , 19], ["20" , 20], ["20+", 21]],   input_html: {class: 'textbox'}, label: false,  error: false
            .paper-section-mobile-disclaimer{style: "width: 80%; padding-bottom: 10px;"}
              = f.input :mobile_disclaimer, as: :boolean, label: false, :boolean_style => :inline, :wrapper_html => { :style => 'display: inline; margin-right: 5px;' }, error: false
              - if @business.errors.include?(:mobile_disclaimer)
                %span.disclaimer-label{style: "font-size: 12px; color: #a94442;"} By checking this box I give Buynance the express written permission to contact me via email, phone, text (SMS/MMS), and/or cell phone. This consent is not conditional of receiving services from Buynance.
              - else
                %span.disclaimer-label{style: "font-size: 12px; color: #878787;"} By checking this box I give Buynance the express written permission to contact me via email, phone, text (SMS/MMS), and/or cell phone. This consent is not conditional of receiving services from Buynance.
            .paper-section-bank-login-form-action
              = f.submit "Continue", class: "form-button flat-button button-submit"
      .paper-section-bank-login-right.col-xs-5.fix-overflow
        - if @business.is_refinance
          = render "shared/refinance_sidebar"
        - else
          = render "shared/funding_sidebar"
