.bottom{style: "padding-top: 20px;"}
  .container
    .footer.row
      .footer-image-section.col-xs-4
        =image_tag("buynance-footer.jpg")
      .col-xs-5
        .col-xs-6.footer-section
          .footer-section-header
            USEFUL LINKS
          .footer-section-body
            %ul
              %li Home
              %li How Buynance Works
              %li Benefits
              %li How We Help
              %li Blog
              %li Merchant Cash Advance
              %li Terms of Service
              %li Privacy Policy
        .col-xs-6.footer-section
          .footer-section-header
            WE ARE SOCIAL
          .footer-section-body
            %ul
              %li 
                = image_tag("facebook_footer_icon.png")
                Facebook
              %li 
                = image_tag("twitter_footer_icon.png")
                Twitter
              %li 
                = image_tag("google_footer_icon.png")
                Google Plus
              %li 
                = image_tag("linkedin_footer_icon.png")
                Linkedin
              %li 
                = image_tag("youtube_footer_icon.png")
                Youtube
      .col-xs-3
        .footer-section
          .footer-section-header
            LOCATE US
          .footer-section-body
            .footer-address
              .footer-address-header
                Address
              .footer-address-body
                %ul
                  %li Funder Pair Inc.
                  %li 44 Wall Street, 21st Floor
                  %li New York, NY 10005
          .footer-need-help
            .footer-need-help-header
              Need Help?
            .footer-need-help-body
              %ul
                %li
                  = image_tag("phone_footer_icon.png")
                  = "(888) 906-4909"
                %li
                  = image_tag("mail_footer_icon.png")
                  = "info@buynance.com"

