.container{style: "padding-top: 20px;"}
  .footer.row
    .useful_links.col-xs-3
      .section
        .header
          USEFUL LINKS
        .body
          %ul.nav.nav-stacked
            %li
              - if current_page?(root_url)
                %a{href: "#"} Home
              - else
                %a{href: "/#"} Home
              
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              - if current_page?(root_url)
                %a{href: "#web_body"} How It Works
              - else
                %a{href: "/#web_body"} How It Works
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              - if current_page?(root_url)
                %a{href: "#benefit"} Benefits
              - else
                %a{href: "/#benefit"} Benefits
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              - if current_page?(root_url)
                %a{href: "#why"} Why We Fight
              - else
                %a{href: "/#why"} Why We Fight
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "#"} Blog
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "/calculator/merchant-cash-advance.html"} Merchant Cash Advance
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "http://www.buynance.com/tos"} Terms of Service
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "http://www.buynance.com/privacy"} Privacy Policy
            %li{style: "list-style: none; display: inline"}
              %hr/
    .social.col-xs-3
      .section
        .header
          WE ARE SOCIAL
        .body
          %ul.nav.nav-stacked
            %li
              %a{href: "#"}
                = image_tag("facebook.jpg")
                %span.text Facebook
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "#"}
                = image_tag("twitter.jpg")
                %span.text Twitter
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "#"}
                = image_tag("google.jpg")
                %span.text Google Plus
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "http://www.linkedin.com/company/5077474?trk=tyah&trkInfo=tas%3Abuynance%2Cidx%3A1-1-1"}
                = image_tag("linkedin.jpg")
                %span.text Linkedin
            %li{style: "list-style: none; display: inline"}
              %hr/
            %li
              %a{href: "#"}
                = image_tag("youtube.jpg")
                %span.text YouTube
    .locate_help.col-xs-3
      .section
        .locate_us
          .header
            LOCATE US
          .body
            %p Address
            %p
              Merchant Ally
              %br/
              228 Park Ave s # 67313
              %br/
              New York, NY 10003-1502
              %br/
        .need_help
          .header
            NEED HELP
          .body
            %ul.nav.nav-stacked
              %li
                %a{href: "#"}
                  = image_tag("phone.jpg")
                  %span.text (888) 906-4909
              %li{style: "list-style: none; display: inline"}
                %hr/
              %li
                %a{href: "#"}
                  = image_tag("mail.jpg")
                  %span.text{style: "font-size: 10px;"} info@buynance.com
    .map.col-xs-3
      .image
        %a{href: "https://mapsengine.google.com/map/u/0/edit?mid=zwAAYEsfDXF8.kMHkc1NF3iMY"}
          = image_tag("map.jpg")
      %div{class: "copy", style:"text-align: center;"}
        = "© 2014, Buynance"