.bottom{style: "padding-top: 20px;"}
  .container
    .footer.row
      .footer-image-section.col-xs-4
        =image_tag("buynance-footer.jpg")
      .col-xs-5
        .col-xs-6.footer-section
          .footer-section-header
            %span 
              USEFUL LINKS
          .footer-section-body
            %ul
              %li
                - if current_page?('/') 
                  %span{onclick: "$('body').scrollTo('body', 800)"} Home
                - else
                  %a{href: '/'} Home
              %li 
                - if current_page?('/') 
                  %span{onclick: "$('body').scrollTo('#slider', 800)"} Slider
                - else
                  %a{href: '/#slider'} Slider
              %li 
                - if current_page?('/')
                  %span{onclick: "$('body').scrollTo('#benefits', 800)"} Benefits
                - else
                  %a{href: '/#benefits'} Benefits
              %li 
                - if current_page?('/') 
                  %span{onclick: "$('body').scrollTo('#testimonials', 800)"} Testimonials
                - else
                  %a{href: '/#testimonials'} Testimonials
              %li
                - if current_page?('/')  
                  %span{onclick: "$('body').scrollTo('#in_the_news', 800)"} In The News
                - else
                  %a{href: '/#in_the_news'} In The News
              %li 
                %a{href: '/tos'} Terms of Service
              %li 
                %a{href: '/privacy'} Privacy Policy
        .col-xs-6.footer-section
          .footer-section-header
            %span WE ARE SOCIAL
          .footer-section-body
            %ul
              %li 
                = image_tag("facebook_footer_icon.png")
                %span 
                  %a{href: "http://www.facebook.com/Buynance", target: "_blank"} Facebook
              %li 
                = image_tag("twitter_footer_icon.png")
                %span 
                  %a{href: "http://www.twitter.com/buynance", target: "_blank"} Twitter
              %li 
                = image_tag("google_footer_icon.png")
                %span Google Plus
              %li 
                = image_tag("linkedin_footer_icon.png")
                %span Linkedin
              %li 
                = image_tag("youtube_footer_icon.png")
                %span Youtube
      .col-xs-3
        .footer-section
          .footer-section-header
            %span LOCATE US
          .footer-section-body
            .footer-address
              .footer-address-header
                %span Address
              .footer-address-body
                %ul
                  %li 
                    %span Funder Pair Inc.
                  %li 
                    %span 44 Wall Street, 21st Floor
                  %li 
                    %span New York, NY 10005
          .footer-need-help
            .footer-need-help-header
              %span Need Help?
            .footer-need-help-body
              %ul
                %li
                  = image_tag("phone_footer_icon.png")
                  %span 
                    = "(888) 504-6302"
                %li
                  = image_tag("mail_footer_icon.png")
                  %span
                    = "team@buynance.com"

