!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Merchant Cash Advance Profitability Calculator
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    #header.container-fluid
      #logo.col-sm-4
        .image
          = link_to image_tag("logo.jpg", class: "logo", href: "/"), root_url
      #nav.col-sm-8
        .row-fluid
          %ul
            %li.fight.col-sm-2
              %a{href: "#why"} WHY WE FIGHT
            %li.blog.col-sm-2
              %a{href: "#"} BLOG
            %li.phone.col-sm-3
              = image_tag("call.jpg")
            %li.chat.col-sm-3
              - if current_business
                %button.btn.btn-green{type: "button", href: "#"} 
                  %a{href: '/account'}
                    Account
              - else
                %button.btn.btn-green{type: "button", href: "#"} 
                  %a{href: '/signup'}
                    SIGNUP
            %li.login.col-sm-2
              - if current_business
                %button.btn.btn-green{type: "button", href: "#"} 
                  %a{href: '/logout'}
                    LOGOUT
              - else
                %button.btn.btn-green{type: "button", href: "#"} 
                  %a{href: '/login'}
                    LOGIN
    = yield

    = render :partial => 'layouts/footer'