!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Buynance - Faster, Cheaper, Merchant Cash Advances.
    %link{href: "http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Lato", rel: "stylesheet", type: "text/css"}/
    %script{href: "http://jquery.thewikies.com/browser/jquery.browser.min.js"}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pluggable_tag 
    %script{href: "http://www.decisionlogic.com/javascript/jquery-1.6.2.min.js"}
    
    
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    = render "layouts/header"
    = yield

    = render :partial => 'layouts/footer'

:javascript
  
  function login_link(){
    window.location = "/login"
  }

  function logout_link(){
    window.location = "/logout"
  }