!!!
%html
  %head
    %title BuynanceProfitCalculator
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %style 
      body {font-family: 'Source Sans Pro', sans-serif; font-size: 18px;}
      input {height: 50px; width: 300px; font-size: 30px; line-height: 50px;}
  %body
    .container
      .row
        = image_tag "logo.jpg"
      = yield
    = render "layouts/analytics"