!!!
%html
  %head
    %title Merchant Cash Advance Profitability Calculator
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
    %style 
      body {font-family: 'Source Sans Pro', sans-serif; font-size: 18px;}
      input {height: 50px; width: 300px; font-size: 30px; line-height: 50px;}
      a {text-decoration: none; color: blue;}
      a:hover {background: none; color: blue; text-decoration: underline;}
  %body
    .row{style: "margin: auto 20px 50px 20px;"}
      = link_to "http://buynance.com" do
        .pull-left= image_tag "logo.jpg", height: "80"
      .pull-right{style: "padding-top: 20px;"}
        <b>Call Us</b>: 888-888-8888
    .container
      = yield
      %div{style: "margin-top: 80px;"}
      %hr
      .row
        .text-center
          Produced by #{link_to " Yuliya Glazman", "http://www.linkedin.com/pub/yuliya-glazman/46/778/37b/"}
          <br/>
          Questions? E-Mail Us #{link_to "info@buynance.com", "mailto:info@buynance.com"}
    = render "layouts/analytics"