!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title buynance™ - Save 114% On Merchant Cash Advances | buynance™ doubles your profits during your merchant cash advance.
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    #header.container-fluid
      #logo.col-sm-4
        .image
          = link_to image_tag("logo.jpg", class: "logo", href: "/"), root_url
      #nav.col-sm-8
        .row-fluid
          %ul
            %li.fight.col-sm-3
              - if current_page?(root_url)
                  %a{href: "#why"} WHY WE FIGHT
              - else
                  %a{href: "/#why"}
            %li.blog.col-sm-3
              - if current_page?(root_url)
                  %a{href: "#"} BLOG
              - else
                  %a{href: "/#"}
            %li.phone.col-sm-3
              = image_tag("call.jpg")
            %li.login.col-sm-3
              - if current_business
                %button.btn.btn-green{type: "button", onclick: "logout_link()"} 
                  LOGOUT
              - else
                %button.btn.btn-green{type: "button", href: "#", onclick: "login_link()"} 
                  LOGIN
    = yield

    = render :partial => 'layouts/footer'

:javascript
  
  function login_link(){
    window.location = "/login"
  }

  function logout_link(){
    window.location = "/logout"
  }