!!!
%html
  %head
    %title Merchant Cash Advance Profitability Calculator
    %link{href: "//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
    %style 
      a:hover {border: 0px none transparent; outline: none; text-decoration: none;}
  %body
    .row.header
      .container-fluid
        .col-md-3.pull-left
          = link_to "http://buynance.com" do
            .pull-left= image_tag "logo.jpg", height: "60"
        .col-md-3.pull-right.phone-number.text-center
          %p
            %strong Call Us:
            888-211-1768
    .container
      = yield
      %hr/
      .row
        .container
          .col-md-12
            %p.text-center
              Produced by
              %a{href: "http://www.linkedin.com/pub/yuliya-glazman/46/778/37b/"} Yuliya Glazman
            %p.text-center
              Questions? E-Mail Us
              %a{href: "mailto:info@buynance.com"} info@buynance.com
    = render "layouts/analytics"