!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    = metamagic title: "Become a Friend of Buynance", og: { image: "http://www.buynance.com/images/twitter.jpg", title: "Become a Friend of Buynance", url: "https://www.buynance.com/friends", type: "website",description: "Buynance pairs people with technology to extend economic opportunity to folks in need while helping small business owners get faster, more affordable, small business funding. Join our family."}
   
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pluggable_tag 
    = javascript_include_tag "ga.js"
    = javascript_include_tag "mixpanel.js"
    
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    = render "layouts/dialer/header"
    = yield

    = render :partial => 'layouts/dialer/footer'
    /= render :partial => 'layouts/chart'